.basket {
	&-title {
		margin-top: 8px;
		
		.back-to-shop {
			color: $orange-color;
			display: block;
			padding-left: 32px;
			line-height: 20px;
			font-size: 14px;
			margin-bottom: 10px;
			position: relative;

			&:after {
				content: '';
				display: block;
				height: 24px;
				width: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				background-image: url("../images/icons/arrow-o-p.png");
			}
		}
	}

	&-calc-spinner {
		.d-flex {
			.spinner-form {
				margin-bottom: 16px;
				width: 50%;
				min-width: 50%;
			}	

			.bold {
				display: block;
				padding-left: 12px;
				margin-bottom: 16px;
				text-align: left;
			}
		}

		.count-minus, .count-plus, .size-minus, .size-plus {
			height: 40px;
			width: 40px;
			min-width: 40px;
			border: 1px solid $swiper-gray-color;
			box-sizing: border-box;
			border-radius: 2px;
			background: $white-color;
			transition: 0.25s;

			&:hover {
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
				transition: 0.25s;
			}

			&:active {
				outline: none;
			}

			&:focus {
				outline: none;
				border: 1px solid #262626;
			}
		}

		.wrap-input {
			position: relative;
			.calc-spinner-size, .calc-spinner-count {
				width: 84px;
				min-width: 84px;
				height: 40px;
				background: $white-color;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				margin: 0 8px;
				padding: 10px 16px 10px 0px;
				font-weight: 600;
				line-height: 20px;
				font-size: 14px;
				text-align: right;
				transition: 0.25s;

				&:hover {
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
					transition: 0.25s;
				}

				&:active {
					outline: none;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				}

				&:focus {
					outline: none;
					border: 1px solid #262626;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				}

				&.error {
					border: 1px solid $red-color;
				}
			}

			label {
				display: block;
				height: 20px;
				width: 20px;
				background: $white-color;
				font-weight: 600;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
				position: absolute;
				top: 10px;
				right: 18px;
				text-align: right;
			}
		}
	}
}

.steps {
	width: 100%;
	margin: 48px 0;
	position: relative;

	&:before {
		top: 23px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 50%;
		height: 1px;
		background-color: $swiper-gray-color;
		z-index: 0;
		right: 0;
	}

	&:after {
		top: 23px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 50%;
		height: 1px;
		background-color: $green-color;
		z-index: 0;
		left: 0;
	}

	&-item {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: $orange-color;
		text-align: center;
		color: $white-color;
		font-weight: 600;
		line-height: 32px;
		font-size: 24px;
		padding-top: 7px;
		box-sizing: border-box;
		border: 1px solid $orange-color;
		z-index: 2;
	}

	&-disabled {
		border: 1px solid $swiper-gray-color;
		box-sizing: border-box;
		background-color: $white-color;
		color: $placeholder-color;
	}

	&-success {
		background-color: $green-color;
		color: $white-color;
		border-color: $green-color;
	}
}

.basket-table {
	&-title {
		margin-top: 32px;
		padding: 8px 0;
		border-bottom: 1px solid $swiper-gray-color;
		margin-bottom: 32px;

		p {
			line-height: 16px;
			font-size: 12px;
			color: $gray-tabs-color;
			margin-bottom: 0;
			min-width: 50%;
			width: 50%;

			&:first-child {
				padding-right: 12px;
			}

			&:last-child {
				padding-left: 12px;
			}
		}
	}

	&-item {
		margin-bottom: 24px;

		.delete-item {
			padding: 0;
			background: none;
			border: none;
			color: $red-color;
			font-weight: 600;
			line-height: 20px;
			font-size: 14px;
		}

		.bold {
			font-weight: 600;
			line-height: 20px;
			font-size: 14px;
			margin-bottom: 0;
		}

		&-count {
			min-width: 50%;
			width: 50%;
			padding-right: 12px;
		}

		&-price {
			min-width: 50%;
			width: 50%;
			padding-left: 12px;
		}

		&-photo {
			min-width: 50%;
			width: 50%;
			padding-right: 12px;
		}

		&-name {
			min-width: 50%;
			width: 50%;
			padding-left: 12px;
			line-height: 20px;
			font-size: 14px;
		}

		&-sum {
			padding-top: 10px;
		}
	}

	&-sum {
		margin-top: 24px;
		margin-bottom: 80px;
		background: $light-gray-bg;
		padding: 64px 48px;

		.promo-form {
			margin-top: 32px;
			margin-bottom: 24px;

			.form-group {
				margin-right: 8px;
				margin-bottom: 0;

				label {
					line-height: 16px;
					font-size: 12px;
					margin-bottom: 8px;
					color: $gray-tabs-color;
				}

				.form-control {
					height: 40px;
					padding: 10px 16px;
					line-height: 20px;
					font-size: 14px;
					color: $black-color;
					background: $white-color;
					border: 1px solid $swiper-gray-color;
					box-sizing: border-box;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					transition: 0.25s;

					&:hover {
						transition: 0.25s;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
					}

					&:active {
						outline: none;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					}

					&:focus {
						border: 1px solid #262626;
						outline: none;
					}
				}
			}
		}

		.delivery-info {
			width: 50%;
			min-width: 50%;
			border-right: 1px solid $swiper-gray-color;
			box-sizing: border-box;
			border-bottom: 1px solid $swiper-gray-color;
			padding-bottom: 48px;
			padding-right: 24px;

			.check-delivery-method {
				.small {
					margin-bottom: 16px;
					color: $gray-tabs-color;
				}
			}
		}

		.sum-info {
			padding-top: 60px;
			padding-left: 24px;
			width: 50%;
			min-width: 50%;
			border-bottom: 1px solid $swiper-gray-color;
			padding-bottom: 48px;

			p {
				margin-bottom: 10px;
			}

			.small {
				margin-bottom: 8px;
				color: $gray-tabs-color;
			}

			.total-sum {
				margin-top: 96px;
				position: relative;
				bottom: 0;

				.small {
					margin-bottom: 0;
				}
			}
		}

		&-footer {
			padding-top: 32px;
			line-height: 20px;
			font-size: 14px;
			color: $gray-tabs-color;

			.footer-info {
				width: 50%;
				min-width: 50%;
				padding-right: 24px;

				a {
					color: $orange-color;
				}
			}

			.footer-btn {
				padding-left: 24px;
				width: 50%;
				min-width: 50%;

				.btn-orange {
					margin-left: auto;

					&:hover {
						color: $white-color;
						text-decoration: none;
						box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.basket {
		&-calc-spinner {
			.d-flex {
				.spinner-form {
					width: 65%;
					min-width: 65%;
				}	

				.bold {
					width: 35%;
					min-width: 35%;
				}
			}

			.wrap-input {
				position: relative;
				.calc-spinner-size, .calc-spinner-count {
					padding: 10px 28px 10px 0px;
				}

				label {
					width: fit-content;
					right: 13px;
				}
			}
		}
	}

	.basket-table {
		&-title {
			margin-top: 24px;
			margin-bottom: 24px;

			.title-name {
				p {
					&:first-child {
						min-width: 30%;
						width: 30%;
						padding-right: 8px;
					}

					&:last-child {
						min-width: 70%;
						width: 70%;
						padding-left: 8px;
					}
				}
			}

			.title-count {
				p {
					&:first-child {
						min-width: 65%;
						width: 65%;
						padding-right: 8px;
					}

					&:last-child {
						min-width: 35%;
						width: 35%;
						padding-left: 8px;
					}
				}
			}
		}

		&-item {
			margin-bottom: 24px;

			&-count {
				min-width: 65%;
				width: 65%;
				padding-right: 8px;
			}

			&-price {
				min-width: 35%;
				width: 35%;
				padding-left: 8px;
			}

			&-photo {
				min-width: 30%;
				width: 30%;
				padding-right: 8px;
			}

			&-name {
				min-width: 70%;
				width: 70%;
				padding-left: 8px;
			}

			&-sum {
				padding-top: 10px;
			}
		}

		&-sum {
			padding: 48px 0px;
			margin-bottom: 0;

			.delivery-info {
				padding-right: 12px;
			}

			.sum-info {
				padding-left: 12px;
			}
		}
	}

	.row-sum {
		background: $light-gray-bg;
		margin-bottom: 48px;
	}
}


@include media-breakpoint-down(sm) {
	.basket {
		&-calc-spinner {
			padding: 0 4px;
			margin-top: 16px;

			.d-flex {
				.spinner-form {
					width: 65%;
					min-width: 65%;
				}	

				.bold {
					width: 35%;
					min-width: 35%;
					text-align: right;
				}
			}

			.wrap-input {
				.calc-spinner-size, .calc-spinner-count {
					padding: 10px 28px 10px 0px;
				}

				label {
					width: fit-content;
					top: 10px;
					right: 14px;
				}
			}
		}
	}
	
	.steps {
		width: 100%;
		margin: 32px 0px;
	}

	.basket-table {
		h4 {
			margin-bottom: 24px;
		}

		&-title {
			display: none;
		}

		&-item {
			margin-bottom: 24px;

			&-count {
				min-width: 62%;
				width: 62%;
				padding-right: 12px;
			}

			&-price {
				min-width: 38%;
				width: 38%;
				padding-left: 12px;
				text-align: right;
			}

			&-photo {
				padding-left: 4px;
				min-width: 25%;
				width: 25%;
				padding-right: 8px;
			}

			&-name {
				padding-right: 4px;
				min-width: 75%;
				width: 75%;
				padding-left: 8px;
			}

			&-sum {
				padding: 0 4px;
				margin-top: 16px;
			}
		}

		&-sum {
			padding: 0 4px;

			.delivery-info {
				width: 100%;
				min-width: 100%;
				border-right: none;
				border-bottom: 1px solid $swiper-gray-color;
				padding-bottom: 24px;
				padding-right: 0px;
			}

			.sum-info {
				padding-top: 32px;
				padding-left: 0px;
				width: 100%;
				min-width: 100%;
				padding-bottom: 30px;

				p {
					margin-bottom: 8px;
				}

				.small {
					margin-bottom: 10px;
				}

				.total-sum {
					margin-top: 0px;
				}
			}

			&-footer {
				padding-bottom: 48px;
				line-height: 20px;
				font-size: 14px;
				color: $gray-tabs-color;

				.footer-info {
					order: 2;
					width: 100%;
					min-width: 100%;
					padding-right: 0px;
				}

				.footer-btn {
					order: 1;
					padding-left: 0px;
					width: 100%;
					min-width: 100%;

					.btn-orange {
						width: 100%;
						margin-bottom: 16px;
					}
				}
			}
		}
	}
}