.catalog {
	&-title {
		margin: 8px 0 48px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-category {
		display: block;
		margin-bottom: 32px;
		text-decoration: none;

		&-wrap {
			cursor: pointer;
			overflow: hidden;
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 16px;
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.img {
				width: 100%;
			}
		}

		h5 {
			cursor: pointer;
			transition: 0.15s;
		}

		&:hover {
			h5 {
				color: $orange-color;
				transition: 0.15s;
			}
		}
	}

	&-tab {
		margin-top: 16px;
		margin-bottom: 32px;

		&-item {
			display: block;
			width: fit-content;
			padding: 10px 24px;
			line-height: 20px;
			font-size: 14px;
			color: $black-color;
			border: 1px solid $swiper-gray-color;
			box-sizing: border-box;
			border-radius: 2px;
			margin-right: 16px;
			margin-bottom: 16px;
			transition: 0.25s;
			background: $white-color;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				border-color: $orange-color;
				color: $orange-color;
				transition: 0.25s;
				text-decoration: none;
			}
		}
	}
}