.category {
	&-title {
		margin: 8px 0 24px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	.btn-show-filter {
		width: 100%;
		height: 40px;
		border: 1px solid $swiper-gray-color;
		box-sizing: border-box;
		border-radius: 2px;
		margin-bottom: 24px;
		background-color: $white-color;
		line-height: 20px;
		font-size: 14px;
		color: $black-color;
	}

	&-table {
		border-top: 1px solid $swiper-gray-color;
		padding-top: 24px;

		&-filter {
			position: relative;
			.filter {
				&-category {
					margin-bottom: 16px;
					h5 {
						margin-bottom: 16px;
					}
				}

				&-range {
					margin-bottom: 24px;
					h5 {
						margin-bottom: 16px;
					}
				}

				&-color {
					margin-bottom: 24px;
					h5 {
						margin-bottom: 16px;
					}
				}
			}

			.show-more {
				background: none;
				border: none;
				color: $orange-color;
				padding: 0;
				margin: 8px 0 16px 0;
				cursor: pointer;
				display: block;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.filter-form-btn {
			border-radius: 2px;
			display: none;
			right: 0;
			left: auto;
			text-align: center;
			font-weight: 600;
			line-height: 18px;
			font-size: 14px;
			position: absolute;
			width: 111px;
			height: 40px;
			background: $orange-color;
			color: $white-color;
			padding: 10px 0;
			border: none;
			transition: 0.25s;

			&:before { 
				content: ''; 
				position: absolute; 
				left: -15px; 
				bottom: 10px; 
				border: 10px solid transparent;
				border-right: 10px solid $orange-color;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:hover {
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
				transition: 0.25s;
			}
		}

		&-header {
			.catalog-table-sort {
				line-height: 20px;
				font-size: 14px;
				color: $placeholder-color;

				p {
					margin-bottom: 0;
				}

				.sort-btn {
					display: block;
					height: 20px;
					margin-left: 16px;
					background: none;
					border: none;
					padding: 0;
					line-height: 20px;
					font-size: 14px;
					color: $placeholder-color;
					position: relative;
					transition: 0.25s;

					&:hover {
						transition: 0.25s;
						color: $orange-color;
					}

					&.active {
						color: $orange-color;
					}

					&:focus {
						outline: none;
						box-shadow: none;
					}
				}

				.price-up, .price-down {
					padding-right: 32px;
					transition: 0.25s;

					&:after {
						content: '';
						height: 24px;
						width: 24px;
						display: block;
						position: absolute;
						right: 0;
						top: -2px;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						transition: 0.25s;
					}
				}

				.price-up {
					&:after {
						background-image: url("../images/icons/arrow-up.svg");
					}

					&:hover {
						transition: 0.25s;
						&:after {
							background-image: url("../images/icons/arrow-fa.png");
						}
					}

					&.active {
						&:after {
							background-image: url("../images/icons/arrow-fa.png");
						}
					}
				}

				.price-down {
					&:after {
						background-image: url("../images/icons/arrow-d.svg");
					}

					&:hover {
						transition: 0.25s;
						&:after {
							background-image: url("../images/icons/arrow-o-d.png");
						}
					}

					&.active {
						&:after {
							background-image: url("../images/icons/arrow-o-d.png");
						}
					}
				}
			}

			.nav-tabs {
				border-bottom: none;

				.nav-link {
					border-bottom: none;
					padding-bottom: 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	&-pagination {
		ul {
			list-style: none;
			margin-bottom: 80px;
			padding-left: 0;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			margin-top: 10px;

			li {
				padding: 0;
				margin-right: 16px;
				a {
					display: block;
					line-height: 24px;
					font-size: 14px;
					color: #000000;

					&:hover {
						text-decoration: none;
						color: $orange-color;
					}
				}

				&:last-child {
					margin-right: 0px;
					margin-left: 16px;
					position: relative;
					padding-right: 32px;
					font-weight: 600;

					span {
						top: 0;
						right: 0;
						position: absolute;
						display: block;
						height: 24px;
						width: 24px;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						background-image: url("../images/icons/arrow.png");
					}

					&:hover {
						span {
							background-image: url("../images/icons/arrow-o-n.png");
						}
					}
				}
			}
		}

		.select-count {
			margin-top: 10px;
			line-height: 20px;
			font-size: 14px;
			color: #A0A0A0;

			div {
				min-width: 108px;
				height: 24px;
				padding-top: 2px;
			}

			.custom-select {
				border: none;
				height: 24px;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
				padding-top: 2px;
				padding-bottom: 2px;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}

.interesting {
	padding-bottom: 80px;
	
	&-title {
		margin-bottom: 48px;
	}

	&-item {
		&-wrap {
			cursor: pointer;
			overflow: hidden;
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 16px;
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
			}

			&:hover {
				transition: 0.25s;
				.add-like {
					display: block;
				}
			}
		}

		&-label {
			width: 100%;
			padding: 16px;
			position: absolute;

			img {
				margin-right: 16px;
				width: 24px;
				height: 24px;
				max-width: 24px;
				min-width: 24px;
			}
		}

		&-price {
			line-height: 24px;
			font-size: 16px;
			font-weight: 600;
			margin-top: 16px;
			margin-bottom: 16px;
		}

		&-name {
			line-height: 20px;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 16px;
		}
	}
}

.filter-min {
	display: none;

	form {
		position: relative;
	}

	.filter-form-btn {
		border-radius: 2px;
		display: none;
		right: 0px;
		left: auto;
		text-align: center;
		font-weight: 600;
		line-height: 18px;
		font-size: 14px;
		position: absolute;
		width: 111px;
		height: 40px;
		background: $orange-color;
		color: $white-color;
		padding: 10px 0;
		border: none;
		transition: 0.25s;

		&:before { 
			content: ''; 
			position: absolute; 
			left: -15px; 
			bottom: 10px; 
			border: 10px solid transparent;
			border-right: 10px solid $orange-color;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:hover {
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
			transition: 0.25s;
		}
	}
}

@include media-breakpoint-down(md) {
	.category {
		&-table {
			border-top: none;
			padding-top: 0;

			&-filter {
				.filter {
					&-category {
						margin-bottom: 16px;
						h5 {
							margin-bottom: 16px;
						}
					}

					&-range {
						margin-bottom: 24px;
						h5 {
							margin-bottom: 16px;
						}
					}

					&-color {
						margin-bottom: 24px;
						h5 {
							margin-bottom: 16px;
						}
					}
				}

				.show-more {
					background: none;
					border: none;
					color: $orange-color;
					padding: 0;
					margin: 8px 0 16px 0;
					cursor: pointer;
					display: block;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&-header {
				display: none!important;
			}
		}
	}

	.interesting {
		padding-bottom: 48px;

		&-title {
			margin-bottom: 40px;
		}
	}

	.filter-min {
		overflow-x: hidden;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		left: 0;
		width: 90%;
		background-color: $white-color;
		z-index: 5;
		height: 100%;
		padding-bottom: 40px; 
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
		display: none;

		&-header {
			height: 54px;
			padding: 16px;
			border-bottom: 1px solid $swiper-gray-color;

			p {
				font-weight: 600;
				line-height: 24px;
				font-size: 14px;
			}

			.btn-header-close {
				display: block;
				margin-left: auto;
				width: 24px;
				height: 24px;
				padding: 0;
				background-color: $white-color;
				border: none;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url("../images/icons/close.png");
			}
		}

		&-body {
			padding: 0 16px;
			
			.nav-tabs {
				margin: 32px 0;
				border-bottom: none;

				.nav-link {
					display: block;
					border-bottom: none;
					padding: 0;
					line-height: 24px;
					font-size: 14px;
					color: $gray-tabs-color;
					padding-left: 32px;
					position: relative;

					&:after {
						content: "";
						height: 24px;
						width: 24px;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}

					&.active {
						color: $orange-color;
					}

					&:first-child {
						margin-bottom: 8px;

						&:after {
							background-image: url('../images/icons/view.svg');
						}
					}

					&:last-child {
						margin-bottom: 8px;

						&:after {
							background-image: url('../images/icons/view-list.svg');
						}
					}
				}
			}
		}

		&-sort {
			padding-bottom: 24px;

			.title {
				font-weight: 600;
				line-height: 24px;
				font-size: 16px;
				color: $black-color;
				margin-bottom: 16px;
			}

			.sort-btn {
				display: block;
				height: 20px;
				background: none;
				border: none;
				padding: 0;
				line-height: 20px;
				font-size: 14px;
				color: $placeholder-color;
				position: relative;
				margin-bottom: 10px;

				&:hover {
					color: $orange-color;
				}

				&.active {
					color: $orange-color;
				}

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

			.price-up, .price-down {
				padding-right: 32px;

				&:after {
					content: '';
					height: 24px;
					width: 24px;
					display: block;
					position: absolute;
					right: 0;
					top: -2px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			}

			.price-up {
				&:after {
					background-image: url("../images/icons/arrow-up.svg");
				}

				&:hover {
					&:after {
						background-image: url("../images/icons/arrow-fa.png");
					}
				}

				&.active {
					&:after {
						background-image: url("../images/icons/arrow-fa.png");
					}
				}
			}

			.price-down {
				&:after {
					background-image: url("../images/icons/arrow-d.svg");
				}

				&:hover {
					&:after {
						background-image: url("../images/icons/arrow-o-d.png");
					}
				}

				&.active {
					&:after {
						background-image: url("../images/icons/arrow-o-d.png");
					}
				}
			}
		}

		.filter-category {
			border-top: 1px solid $swiper-gray-color;
			padding: 32px 0;
			box-sizing: border-box;
			border-bottom: 1px solid $swiper-gray-color;
		}

		&-drop {
			padding-top: 32px;

			&-btn {
				padding-bottom: 16px;
				position: relative;

				&:after {
					content: "";
					height: 24px;
					width: 24px;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					background-image: url("../images/icons/menu-arrow.png");
				}

				&.active {
					&:after {
						background-image: url("../images/icons/arrow-fa.png");
					}
				}
			}

			&-body {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.category {
		&-pagination {
			display: none!important;
		}
	}

	.interesting {
		padding-bottom: 48px;

		.col-6 {
			&:nth-child(odd) {
				padding-right: 8px;
			}

			&:nth-child(even) {
				padding-left: 8px;
			}
		}

		&-title {
			margin-bottom: 40px;
		}

		&-item {
			&-label {
				padding: 8px;

				img {
					margin-right: 8px;
				}

				.add-like {
					display: block;
				}
			}
		}
	}
}
