.checkout {
	&-form {
		padding-bottom: 80px;

		&-title {
			margin-bottom: 40px;
		}

		.small {
			color: $gray-tabs-color;
			margin-bottom: 8px;
		}

		.radio-block {
			margin-top: 16px;
			margin-bottom: 24px;
		}

		.form-group {
			margin-bottom: 0;
			margin-bottom: 24px;

			.form-control {
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				height: 40px;
				padding: 10px 16px;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;

				::placeholder {
					color: $gray-tabs-color;
				}
				
				&:valid {
					border: 1px solid $swiper-gray-color;
					outline: none;
					box-shadow: none;
				}

				&:invalid {
					outline: none;
					box-shadow: none;
				}
			}

			textarea.form-control {
				height: 120px;
				resize: none;
				padding: 10px 16px;
			}
		}

		.row-form {
			margin-top: 8px;

			.back-to-basket {
				margin-top: 8px;
				display: block;
				padding-left: 32px;
				line-height: 24px;
				font-size: 14px;
				color: $gray-tabs-color;
				position: relative;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					display: block;
					height: 24px;
					width: 24px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url('../images/icons/arrow-g.png');
				} 
			}

			.btn-orange {
				margin-left: auto;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.checkout {
		&-form {
			padding-bottom: 48px;

			&-title {
				margin-bottom: 24px;
			}

			.radio-block {
				margin-top: 0px;
				margin-bottom: 24px;
			}

			.row-form {
				.btn-orange {
					width: 100%;
					margin-top: 16px;
				}
			}
		}
	}
}