.contact {
	&-title {
		margin: 8px 0 40px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-item {
		margin-bottom: 64px;

		&-info {
			margin-top: 24px;
			margin-bottom: 30px;
			.contact-link {
				width: 25%;
				min-width: 25%;
				max-width: 25%;
				line-height: 24px;
				font-size: 14px;
				color: $black-color;

				.fas {
					line-height: 24px;
					font-size: 18px;
					color: $black-color;
					padding: 0 8px;
					vertical-align: top;
				}

				&:hover {
					color: $orange-color;
					text-decoration: none;

					.fas {
						color: $orange-color;
					}
				}
			}

			.map-adress {
				margin-bottom: 0;
				line-height: 24px;

				.fas {
					line-height: 24px;
					font-size: 18px;
					color: $black-color;
					padding: 0 5px;
					vertical-align: top;
				}
			}
		}
	}

	.map {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

@include media-breakpoint-down(md) {
	.contact {

		&-item {
			margin-bottom: 64px;

			&-info {
				margin-bottom: 8px;

				.contact-link {
					width: 100%;
					min-width: 100%;
					max-width: 100%;
					margin-bottom: 8px;

					.fas {
						padding: 0 0px;
						text-align: left;
						display: inline-block;
						width: 24px;
					}
				}

				.map-adress {
					margin-bottom: 0;
					line-height: 24px;

					.fas {
						padding: 0 0px;
						text-align: left;
						display: inline-block;
						width: 24px;
					}
				}
			}
		}

		.map {
			margin-top: 16px;
			position: relative;
			width: 100%;
			height: 216px;
		}
	}
}