.error-page {
	padding-bottom: 80px;

	.large {
		margin-top: 8px;
		font-size: 160px;
		line-height: 192px;
		font-weight: 600;
		margin-bottom: 38px;
	}
}

@include media-breakpoint-down(sm) {
	.error-page {
		.large {
			font-size: 100px;
			line-height: 152px;
		}
	}
}