.feedback {
	&-title {
		margin: 8px 0 48px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-item {
		border-bottom: 1px solid $swiper-gray-color;;
		margin-bottom: 40px;

		.person {
			margin-bottom: 16px;

			&-image {
				height: 48px;
				min-width: 48px;
				width: 48px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 16px;

				img {
					width: 100%;
				}
			}

			&-name {
				margin-top: 2px;
				line-height: 24px;
				font-size: 16px;
				margin-bottom: 0;
			}
		}

		.feedback-date {
			line-height: 16px;
			font-size: 12px;
			color: $gray-tabs-color;
		}

		&-text {
			position: relative;
			padding-left: 64px;
			margin-bottom: 32px;
		}

		.sub-feedback {
			margin-top: 32px;
			padding-top: 32px;
			position: relative;
			border-bottom: none;
			margin-bottom: 0;

			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: $swiper-gray-color;
				position: absolute;
				top: 0;
				right: 0;
			}

			.feedback-item-text {
				padding-left: 0;
			}
		}
	}
}

.question-form {
	background-color: $light-gray-bg;
	margin: 80px 0;
	padding: 80px 0;

	h1 {
		margin-bottom: 48px;
	}

	.send-question {
		input {
			height: 40px;
			width: 100%;
			background: $white-color;
			border: 1px solid $swiper-gray-color;
			box-sizing: border-box;
			box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			margin-bottom: 16px;
			line-height: 20px;
			font-size: 14px;
			padding: 10px 16px;
			color: $black-color;

			&::placeholder {
				color: $gray-tabs-color;
			}
		}

		textarea {
			height: 120px;
			width: 100%;
			background: $white-color;
			border: 1px solid $swiper-gray-color;
			box-sizing: border-box;
			box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
			margin-bottom: 16px;
			line-height: 20px;
			font-size: 14px;
			padding: 10px 16px;
			color: $black-color;
			resize: none;

			&::placeholder {
				color: $gray-tabs-color;
			}
		}

		button {
			background: $orange-color;
			border-radius: 2px;
			color: $white-color;
			width: 100%;
			height: 40px;
			margin-bottom: 24px;
			border: none;
			line-height: 20px;
			font-size: 14px;
		}

		.small {
			color: $gray-tabs-color;

			a {
				color: $orange-color;
				text-decoration: none;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.feedback {
		&-item {
			margin-bottom: 32px;

			.person {
				&-image {
					margin-right: 8px;
				}
			}

			&-text {
				position: relative;
				padding-left: 16px;
				margin-bottom: 32px;
			}

			.sub-feedback {
				margin-top: 24px;
				padding-top: 24px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.question {
		&-form {
			margin: 40px 0;
			padding: 40px 16px;
		}
	}
}