.gallery {
	&-title {
		margin: 8px 0 48px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-link {
		text-decoration: none;

		&:hover {
			text-decoration: none;

			.gallery-item-title {
				color: $orange-color;
			}
		}
	}

	&-item {
		margin-bottom: 32px;

		&-wrap {
			cursor: pointer;
			overflow: hidden;
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 16px;
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
			}
		}

		&-title {
			text-decoration: none;
			color: $black-color;
			font-weight: 600;
			line-height: 24px;
			font-size: 16px;
			margin-bottom: 0;

			&:hover {
				color: $orange-color;
				text-decoration: none;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.gallery {
		&-title {
			margin: 8px 0 40px 0;
		}

		.tab-content {
			.row {
				.col-6 {
					&:nth-child(odd) {
						padding-right: 8px;
					}

					&:nth-child(even) {
						padding-left: 8px;
					}
				}
			}
		}
	}
}
