.popular-collection {
	padding: 80px 0;

	&-title {
		margin-bottom: 48px;
	}

	.tab-content {
		.btn-orange {
			position: absolute;
			top: -80px;
			right: 16px;
		}
	}

	.big-tabs {
		margin-left: 10px;
		margin-right: auto;

		.nav-tabs {
			border: none;
			margin-bottom: 0;

			.nav-link {
				font-weight: 600;
				line-height: 46px;
				font-size: 32px;
				color: $black-color;
				padding-bottom: 0;
				border: none;
				margin-right: 8px;

				&.active {
					color: $gray-tabs-color;
				}
			}
		}
	}
}

.advantages {
	padding: 80px 0 92px 0;

	h1 {
		margin-bottom: 48px;
	}

	&-item {
		text-align: center;

		h5 {
			margin-top: 24px;
			margin-bottom: 16px;
		}
	}
}

.sale {
	padding: 80px 0 32px 0;

	&-title {
		margin-bottom: 48px;
	}

	.tab-content {
		.btn-orange {
			position: absolute;
			top: -80px;
			right: 16px;
		}
	}

	.big-tabs {
		margin-left: 0px;
		margin-right: auto;

		.nav-tabs {
			border: none;
			margin-bottom: 0;

			.nav-link {
				font-weight: 600;
				line-height: 46px;
				font-size: 32px;
				color: $black-color;
				padding-bottom: 0;
				border: none;
				margin-right: 8px;

				&.active {
					color: $gray-tabs-color;
				}
			}
		}
	}

	&-item {
		margin-bottom: 32px;

		.item {
			&-image-wrap {
				overflow: hidden;
				position: relative;
				width: 100%;
				padding-bottom: 100%;
			}

			&-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				.img {
					width: 100%;
				}

				&:hover {
					transition: 0.25s;
					.add-like {
						display: block;
					}
				}
			}

			&-label {
				width: 100%;
				padding: 16px;
				position: absolute;

				img {
					margin-right: 16px;
				}
			}

			&-price {
				line-height: 24px;
				font-size: 16px;
				font-weight: 600;
				margin-top: 14px;
				margin-bottom: 17px;
			}

			&-name {
				line-height: 20px;
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 16px;
			}
		}
	}
}

.our-product {
	padding: 80px 0;

	&-title {
		margin-bottom: 48px;
	}

	&-tabs {
		.nav-tabs {
			margin-bottom: 40px;

			.nav-link {
				background: none;
				border: none;
				line-height: 20px;
				font-size: 14px;
				padding: 0;
				padding-bottom: 16px;
				margin-right: 24px;
				color: $gray-tabs-color;
				box-sizing: border-box;

				&.active {
					color: $orange-color;
					border-bottom: 2px solid $orange-color;
				}

				&:hover {
					color: $orange-color;
				}
			}
		}
	}

	&-image {
		margin-bottom: 24px;
		img {
			width: 100%;
		}
	}
}

.partners {
	padding: 80px 0;

	.swiper {
		&-slide {
			height: 100px;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		} 
	}
}

@include media-breakpoint-down(md) {
	.popular-collection {
		padding: 60px 0;

		&-title {
			margin-bottom: 38px;
		}

		.tab-content {
			.btn-orange {
				position: relative;
				top: 0px;
				right: 0px;
				width: 100%;
				margin-top: 20px;
				text-align: center;
			}
		}

		.big-tabs {
			.nav-tabs {
				.nav-link {
					line-height: 32px;
					font-size: 24px;
					margin-right: 6px;
				}
			}
		}

		&-item {
			margin-bottom: 24px;

			.item {
				&-image {
					.img {
						width: 100%;
					}
				}

				&-price {
					margin-top: 8px;
					margin-bottom: 8px;
				}

				&-name {
					margin-bottom: 8px;
				}
			}
		}
	}

	.advantages {
		padding: 60px 0 72px 0;

		h1 {
			margin-bottom: 38px;
		}
	}

	.sale {
		padding: 60px 0 32px 0;

		&-title {
			margin-bottom: 38px;
		}

		.tab-content {
			.btn-orange {
				position: relative;
				top: 0px;
				right: 0px;
				width: 100%;
				margin-top: 20px;
				text-align: center;
			}
		}

		.big-tabs {
			.nav-tabs {
				.nav-link {
					line-height: 32px;
					font-size: 24px;
					margin-right: 6px;
				}
			}
		}

		&-item {
			margin-bottom: 24px;

			.item {
				&-image {
					.img {
						width: 100%;
					}
				}
			}
		}
	}

	.our-product {
		padding: 60px 0;

		&-title {
			margin-bottom: 38px;
		}

		&-image {
			margin-top: 24px;
			margin-bottom: 0;

			img {
				width: 100%;
			}
		}
	}

	.partners {
		padding: 60px 0;

		.swiper {
			&-slide {
				height: 100px;
				position: relative;

				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
				}
			} 
		}
	}
}

@include media-breakpoint-down(sm) {
	.popular-collection {
		padding: 48px 0;

		&-title {
			margin-bottom: 40px;
		}

		&-item {
			.item {
				margin-bottom: 16px;

				&-label {
					padding: 8px;

					img {
						margin-right: 8px;
					}
				}

				&-price {
					font-weight: 400;
				}
			}
		}
	}

	.advantages {
		padding: 48px 0;

		h1 {
			margin-bottom: 40px;
		}

		&-item {
			text-align: center;
			padding-bottom: 48px;

			h5 {
				margin-top: 24px;
				margin-bottom: 16px;
			}
		}
	}

	.sale {
		padding: 48px 0;

		&-title {
			margin-bottom: 40px;
		}

		&-item {
			margin-bottom: 16px;

			.item {
				&-label {
					padding: 8px;

					img {
						margin-right: 8px;
					}
				}

				&-price {
					font-weight: 400;
				}
			}
		}
	}

	.our-product {
		padding: 48px 0;

		&-title {
			margin-bottom: 48px;
		}

		&-tabs {
			.nav-tabs {
				margin-bottom: 40px;
				display: flex;
				-webkit-flex-direction: row;
				flex-direction: row;
				-webkit-justify-content: space-between;
				justify-content: space-between;
			}
		}
	}

	.partners {
		padding: 48px 0;
	}
}