.product-card {
	&-title {
		margin: 8px 0 32px 0;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-header {
		margin-bottom: 80px;
	}

	&-gallery {
		.big-image {
			margin-bottom: 8px;

			img {
				width: 100%;
			}
		}

		.min-images {
			img {
				width: 40px;
				height: 40px;
				margin-right: 8px;

				&:hover {
					border: 2px solid $orange-color;
				}
			}

			.active {
				border: 2px solid $orange-color;
			}
		}
	}

	&-info {
		h5 {
			margin-bottom: 24px;
		}

		.info-list {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				padding: 0;
				margin-bottom: 16px;
				color: $black-color;
				line-height: 20px;
				font-size: 14px;

				span {
					color: $placeholder-color;
					padding-right: 8px;
				}

				&:last-child {
					margin-bottom: 0px;
				}

				a {
					color: $black-color;
					text-decoration: none;

					&:hover {
						color: $black-color;
						text-decoration: underline;
					}
				}
			}
		}
	}

	&-price {
		width: 100%;
		background-color: $light-gray-bg;
		border-radius: 2px;
		padding: 32px;

		.old-price {
			line-height: 20px;
			font-size: 14px;
			text-decoration-line: line-through;
			margin-bottom: 0;
			color: $placeholder-color;
		}

		.new-price {
			font-weight: 600;
			line-height: 32px;
			font-size: 24px;
			margin-bottom: 16px;
		}

		.label-product {
			img {
				margin-right: 8px;
				height: 24px;
				width: 24px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}

		.calc-spinner {
			input {
				min-width: 108px;
			}
			.btn-add-baster {
				margin-bottom: 16px;
			}

			.add-like {
				display: block;
				height: 40px;
				min-width: 40px;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				border-radius: 2px;
				background: transparent;

				&:hover {
					transition: 0.25s;
					text-decoration: none;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
				}

				&.active {
					background-color: $orange-color;
				}
			}

			.btn-gray {
				background-color: $light-gray-bg;
				height: 40px;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				border-radius: 2px;
				width: 100%;
				margin-right: 8px;
				font-weight: 600;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
				transition: 0.25s;

				&:hover {
					transition: 0.25s;
					text-decoration: none;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
				}

				&:active {
					outline: none;
					box-shadow: none;
				}

				&:focus {
					outline: none;
					border: 1px solid #262626;
					box-sizing: border-box;
				}
			}
		}

		&-availability {
			margin-top: 32px;
			margin-left: 32px;

			p {
				line-height: 16px;
				font-size: 12px;
				color: $gray-tabs-color;
				margin-bottom: 0;
			}

			a {
				line-height: 20px;
				font-size: 14px;
				color: $placeholder-color;

				&:hover {
					text-decoration: none;
					color: $orange-color;
				}
			}
		}
	}

	&-body {
		margin-bottom: 48px;

		h1 {
			margin-bottom: 48px;
		}
	}
}

@include media-breakpoint-down(lg) {  }
@include media-breakpoint-down(md) {  }
@include media-breakpoint-down(sm) {
	.product-card {
		&-header {
			margin-bottom: 48px;
		}

		&-info {
			h5 {
				margin-bottom: 16px;
			}

			.info-list {
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;

				li {
					margin-bottom: 8px;

					span {
						display: block;
						margin-bottom: 8px;
						padding-right: 0px;
					}
				}
			}
		}

		&-price {
			margin: 32px 0;
			padding: 16px 16px 32px 16px;

			.old-price {
				margin-top: 12px;
			}

			.calc-spinner {
				input {
					min-width: 76px;
					width: 76px;
				}

				.btn-add-baster {
					margin-bottom: 16px;
				}
			}

			&-availability {
				display: none;
			}
		}

		&-body {
			display: none;
		}
	}
}
