.profile {
	&-title {
		margin: 8px 0 40px 0;

		nav {
			margin-left: auto;
			padding-top: 16px;

			.nav-tabs {
				border-bottom: none;

				.nav-link {
					padding-bottom: 0px;
					margin-right: 32px;
					color: $black-color;

					&.active {
						border-bottom: 0;
						font-weight: 600;
						color: $orange-color;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.tab-content {
		padding-bottom: 48px;
	}

	&-table {
		&-title {
			padding: 8px 0;
			line-height: 16px;
			font-size: 12px;
			border-bottom: 1px solid $swiper-gray-color;
			color: $gray-tabs-color;
			box-sizing: border-box;
			margin-bottom: 40px;

			p {
				margin-bottom: 0;
			}
		}

		&-item {
			margin-bottom: 16px;

			.item-photo {
				height: 80px;
				width: 80px;
				min-width: 80px;
				margin-right: 16px;
			}

			.item-name {
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
			}

			.bold, .sum, .status-success {
				font-weight: 600;
				line-height: 20px;
				font-size: 14px;
				margin-bottom: 8px;
			}

			.status-success {
				color: $green-color;
			}
		}
	}

	.order-report {
		margin: 24px 0 32px 0;
		padding: 24px 0 32px 0;
		box-sizing: border-box;
		border-top: 1px solid $swiper-gray-color;
		border-bottom: 1px solid $swiper-gray-color;
		
		&-title {
			line-height: 16px;
			font-size: 12px;
			color: $gray-tabs-color;
			margin-bottom: 8px;
		}

		&-text {
			line-height: 20px;
			font-size: 14px;
			color: $black-color;
			margin-bottom: 0;
		}
	}

	&-form {
		margin-bottom: 32px;
		
		.form-group {
			margin-bottom: 24px;

			label {
				margin-bottom: 8px;
				line-height: 16px;
				font-size: 12px;
				color: $gray-tabs-color;
			}

			.form-control {
				height: 40px;
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				padding: 10px 16px;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
				transition: 0.25s;

				&:placeholder {
					line-height: 20px;
					font-size: 14px;
					color: $black-color;
				}

				&:hover {
					transition: 0.25s;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
				}

				&:active {
					outline: none;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				}

				&:focus {
					border: 1px solid #262626;
					outline: none;
				}

				&.error {
					border: 1px solid $red-color;
				}

				&:valid {
					border: 1px solid $swiper-gray-color;
					outline: none;
					box-shadow: none;
					background: $white-color;
				}

				&:invalid {
					outline: none;
					box-shadow: none;
				}
			}
		}

		.btn-orange {
			margin-top: 8px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.profile {
		&-title {
			margin: 8px 0 0px 0;

			nav {
				margin-left: 0;
				-webkit-align-self: flex-start!important;
				align-self: flex-start!important;
				
				.nav-tabs {
					margin-bottom: 32px;
					.nav-link {
						margin-right: 12px;
					}
				}
			}
		}

		&-table {
			&-title {
				display: none;
			}

			&-item {
				margin-bottom: 24px;

				.item-photo {
					margin-bottom: 16px;
				}

				.item-name {
					margin-bottom: 16px;
				}

				.status-success, .sum {
					margin-top: 8px;
				}

				.status-success {
					text-align: right;
				}

				.min-right {
					text-align: right;
				}
			}
		}

		.order-report {
			&-title {
				margin-bottom: 8px;
			}

			&-text {
				margin-bottom: 16px;
			}
		}

		&-form {
			margin-bottom: 32px;

			.form-group {
				margin-bottom: 24px;

				label {
					margin-bottom: 8px;
					line-height: 16px;
					font-size: 12px;
					color: $gray-tabs-color;
				}

				.form-control {
					height: 40px;
					background: $white-color;
					border: 1px solid $swiper-gray-color;
					box-sizing: border-box;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					padding: 10px 16px;
					line-height: 20px;
					font-size: 14px;
					color: $black-color;

					&:placeholder {
						line-height: 20px;
						font-size: 14px;
						color: $black-color;
					}
				}
			}

			.btn-orange {
				margin-top: 8px;
			}
		}
	}
}