.question {
	&-title {
		margin-top: 8px;
		margin-bottom: 24px;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-block {
		.btn-question {
			box-sizing: border-box;
			display: block;
			width: 100%;
			border-radius: 0;
			border-bottom: 1px solid $orange-color;
			line-height: 20px;
			font-size: 14px;
			padding: 18px 0;
			text-align: left;
			color: $black-color;
			position: relative;

			&:focus {
				box-shadow: none;
				outline: none;
			}

			&:after {
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				top: 16px;
				right: 0;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("../images/icons/hover-arrow.png");
			}

			&.collapsed {
				border-bottom: 1px solid $swiper-gray-color;

				&:after {
					background-image: url("../images/icons/menu-arrow.png");
				}
			}
		}

		.card-body {
			border: none;
			border-radius: 0;
			padding: 24px 0;
		}
	}

	&-form {
		background-color: $light-gray-bg;
		margin: 80px 0;
		padding: 80px 0;

		h1 {
			margin-bottom: 48px;
		}

		.send-question {
			input {
				height: 40px;
				width: 100%;
				background: $white-color;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				margin-bottom: 16px;
				line-height: 20px;
				font-size: 14px;
				padding: 10px 16px;
				color: $black-color;
				transition: 0.25s;

				&:hover {
					transition: 0.25s;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
				}

				&:active {
					outline: none;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				}

				&:focus {
					border: 1px solid #262626;
					outline: none;
				}

				&::placeholder {
					color: $gray-tabs-color;
				}
			}

			textarea {
				height: 120px;
				width: 100%;
				background: $white-color;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				margin-bottom: 16px;
				line-height: 20px;
				font-size: 14px;
				padding: 10px 16px;
				color: $black-color;
				resize: none;
				transition: 0.25s;

				&::placeholder {
					color: $gray-tabs-color;
				}

				&:hover {
					transition: 0.25s;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
				}

				&:active {
					outline: none;
					border: 1px solid $orange-color;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				}

				&:focus {
					border: 1px solid #262626;
					outline: none;
				}
			}

			button {
				background: $orange-color;
				border-radius: 2px;
				color: $white-color;
				width: 100%;
				height: 40px;
				margin-bottom: 24px;
				border: none;
				line-height: 20px;
				font-size: 14px;
				transition: 0.25s;

				&:hover {
					transition: 0.25s;
					color: $white-color;
					text-decoration: none;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
				}

				&:active {
					outline: none;
					box-shadow: none;
				}

				&:focus {
					outline: none;
					border: 1px solid #262626;
					box-sizing: border-box;
				}
			}

			.small {
				color: $gray-tabs-color;

				a {
					color: $orange-color;
					text-decoration: none;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.question {
		&-form {
			margin: 40px 0;
			padding: 40px 16px;
		}
	}
}