.search {
	&-title {
		margin: 8px 0 16px 0;
	}

	.form-search {
		margin-bottom: 48px;
		.input-group {
			.form-control {
				height: 40px;
				background: $white-color;
				border: 1px solid $swiper-gray-color;
				box-sizing: border-box;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 2px 0 0 2px;
			}

			.btn {
				height: 40px;
				background: $orange-color;
				border-radius: 0px 2px 2px 0px;
				color: $white-color;
				border-color: $orange-color;
				padding-left: 46px;
				position: relative;

				&:after {
					position: absolute;
					height: 24px;
					width: 24px;
					top: 8px;
					left: 16px;
					content: "";
					display: block;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('../images/icons/search.png')
				}
			}
		}
	}
}