.stock {
	&-title {
		margin: 8px 0 48px 0;

		h1 {
			margin-bottom: 16px;
		}
	}
}

.news {
	&-title {
		margin-top: 8px;

		h1 {
			margin-bottom: 16px;
		}
	}

	&-image {
		margin: 40px 0;
	}
}

.popular-news {
	margin: 54px 0 80px 0;

	h1 {
		margin-bottom: 48px;
	}
}

@include media-breakpoint-down(sm) {
	.popular-news {
		margin: 24px 0 80px 0;

		h1 {
			margin-bottom: 48px;
		}
	}
}