.text-page {
	padding-bottom: 80px;

	.breadcrumb {
		background: none;
		padding: 0;
		margin: 32px 0;

		&-item {
			line-height: 16px;
			font-size: 12px;

			a {
				color: $placeholder-color;

				&:hover {
					text-decoration: none;
					color: $orange-color;
				}
			}

			&.active {
				color: $black-color;
			}
		}
	}

	&-title {
		margin-top: 8px;
		margin-bottom: 16px;
	}

	h1 {
		font-weight: 600;
		line-height: 46px;
		font-size: 32px;
		margin-bottom: 24px;
	}

	h2 {
		font-weight: 600;
		line-height: 32px;
		font-size: 24px;
		margin-bottom: 24px;
	}

	h3 {
		font-weight: 600;
		line-height: 28px;
		font-size: 20px;
		margin-bottom: 16px;
	}

	h4 {
		font-weight: 600;
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 16px;
	}

	b {
		font-weight: 600;
	}

	p {
		line-height: 20px;
		font-size: 14px;
		margin-bottom: 16px;
	}

	a {
		color: $orange-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $orange-color;
		}
	}

	ol {
		padding-left: 16px;
		margin-bottom: 16px;

		li {
			padding: 0;
			line-height: 20px;
			font-size: 14px;
		}
	}

	ul {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 16px;

		li {
			line-height: 20px;
			font-size: 14px;
			position: relative;
			padding-left: 16px;

			&:before {
				content: "";
				height: 3px;
				width: 3px;
				display: block;
				border-radius: 50%;
				background: $orange-color;
				position: absolute;
				left: 0px;
				top: 8px;
			}
		}
	}

	.table-block {
		margin: 40px 0;

		table {
			width: 100%;

			thead {
				font-weight: 600;
				tr {
					td {
						border-right: 1px solid $swiper-gray-color;
						border-bottom: 1px solid $swiper-gray-color;
						padding: 24px 8px 16px 8px;
						font-weight: 600;
						line-height: 20px;
						font-size: 14px;
						text-align: center;
						color: $black-color;

						&:last-child {
							border-right: none;
						}
					}
				}
			}

			tbody {
				tr {
					td {
						padding: 24px 8px 16px 8px;
						line-height: 20px;
						font-size: 14px;
						text-align: center;
						color: $black-color;
						border-right: 1px solid $swiper-gray-color;
						border-bottom: 1px solid $swiper-gray-color;

						&:last-child {
							border-right: none;
						}
					}

					&:last-child {
						td {
							border-bottom: none;
						}
					}
				}
			}
		}
	}

	.quotes {
		padding: 64px 48px;
		background: $light-gray-bg;
		margin: 64px 0 48px 0;
		position: relative;

		&:after {
			content: "";
			display: block;
			height: 51px;
			width: 51px;
			position: absolute;
			top: -16px;
			left: 48px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../images/icons/quotes.svg");
		}

		&-author {
			&-photo {
				width: 48px;
				min-width: 48px;
				height: 48px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 16px;
			}

			&-info {
				padding-top: 2px;

				.author-name {
					margin-bottom: 0;
					line-height: 24px;
					font-size: 16px;
				}

				.author-status {
					line-height: 16px;
					font-size: 12px;
					color: $gray-tabs-color;
					margin-bottom: 0;
				}
			}
		}
	}

	.left-img {
		float: left;
		margin-right: 24px;
		margin-bottom: 24px;
		max-width: 50%; 
	}

	.right-img {
		float: right;
		margin-left: 24px;
		margin-bottom: 24px;
		max-width: 50%; 
	}
}

@include media-breakpoint-down(sm) {
	.text-page {
		padding-bottom: 48px;

		.table-block {
			margin: 40px 0;
			overflow: scroll;

			table {
				width: 100%;

				thead {
					font-weight: 600;
					tr {
						td {
							padding: 16px 8px 8px 8px;
							font-weight: 600;
							width: 100px;
							min-width: 100px;
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 16px 8px 8px 8px;
							width: 100px;
							min-width: 100px;
						}
					}
				}
			}
		}

		.quotes {
			padding: 48px 8px;
			margin: 48px 0 36px 0;

			&:after {
				top: -25px;
				left: 16px;
			}

			&-author {
				margin-top: 8px;
			}
		}

		.left-img {
			float: left;
			margin-right: 24px;
			margin-bottom: 24px;
			max-width: 50%; 
		}

		.right-img {
			float: right;
			margin-left: 24px;
			margin-bottom: 24px;
			max-width: 50%; 
		}
	}

}