
<div class="basket-calc-spinner">
  <div class="d-flex align-items-center">
    <div class="d-flex spinner-form">
      <button class="count-minus">-</button>
      <div class="wrap-input">
        <input type="number" name="" class="calc-spinner-count" value="1">
        <label> шт.</label>
      </div>
      <button class="count-plus">+</button>
    </div>
    <p class="bold">300 р. за шт.</p>
  </div>

  <div class="d-flex align-items-center">
    <div class="d-flex spinner-form">
      <button class="size-minus">-</button>
      <div class="wrap-input">
        <input type="number" name="" class="calc-spinner-size" data-size="0.2" value="0.2">
        <label>м<sup>2</sup></label>
      </div>
      <button class="size-plus">+</button>
    </div>
    <p class="bold">500 р. за м2</p>
  </div>
</div>