<div class="d-flex choice-color">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gray" value="option1">
    <label class="form-check-label" for="gray"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightBrown" value="option2">
    <label class="form-check-label" for="lightBrown"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="black" value="option3">
    <label class="form-check-label" for="black"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="brown" value="option4">
    <label class="form-check-label" for="brown"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightGray" value="option5">
    <label class="form-check-label" for="lightGray"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkBrown" value="option6">
    <label class="form-check-label" for="darkBrown"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="blue" value="option7">
    <label class="form-check-label" for="blue"><span></span></label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="multicolored" value="option8">
    <label class="form-check-label" for="multicolored"><span></span></label>
  </div>
</div>