<div class="col-xl-4 col-md-6">
  <a href="collection-page.html" class="d-block line-none">
    <div class="collection">
      <div class="collection-image-wrap">
        <div class="collection-image">
          <div class="collection-label">
            <div class="d-flex">
              <img src="assets/images/icons/new.png">
              <img src="assets/images/icons/hit.png">
              <img src="assets/images/icons/sale.png">

              <button class="add-like"><i class="fas fa-heart"></i></button>
            </div>
          </div>
          <img src="assets/images/item1.png" class="img">


        </div>
      </div>
      <p class="collection-price">от 4 300 р.</p>
      <p class="collection-name">Коллекция Barrique</p>         

      //= color-block.html
    </div>
  </a>
</div>