<div class="d-flex flex-wrap color-block">
	<div class="gray"></div>
	<div class="lightBrown"></div>
	<div class="black"></div>
	<div class="brown"></div>
	<div class="lightGray"></div>
	<div class="darkBrown"></div>
	<div class="blue"></div>
	<div class="multicolored"></div>
	<div>...</div>
</div>