<div id="filter-min" class="filter-min">
	<div class="d-flex filter-min-header">
		<p>Фильтры</p>
		<button class="btn-header-close"></button>
	</div>

	<div class="filter-min-body">
		<nav>
			<div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-collection-tab" data-toggle="tab" href="#nav-collection" role="tab" aria-controls="nav-collection" aria-selected="true">Коллекции</a>
				<a class="nav-item nav-link" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="false">Товары</a>
			</div>
		</nav>
		

		<div class="filter-min-sort">
			<p class="title">Сортировать по:</p>
			<button class="sort-btn active">Наименованию</button>
			<button class="sort-btn price-up">Цене <span></span></button>
			<button class="sort-btn price-down">Цене <span></span></button>
		</div>

		<form>
			<div class="filter-category">
				<div class="check-box">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="new1">
						<label class="form-check-label" for="new1">Новинки</label>
						<span></span>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="hit1">
						<label class="form-check-label" for="hit1">Хиты</label>
						<span></span>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="sale1">
						<label class="form-check-label" for="sale1">Распродажа</label>
						<span></span>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="bestPrice1">
						<label class="form-check-label" for="bestPrice1">Лучшая цена</label>
						<span></span>
					</div>
				</div>
			</div>

			<div class="filter-min-drop">
				<div class="filter-min-drop-btn">Цвет</div>
				<div class="filter-min-drop-body"></div>
			</div>

			<div class="filter-range">
				<h5>Длина, мм.</h5>
				<div class="range-slider">

					<input id="minLenght-slider"  value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,100000]"/>


					<div class="d-flex justify-content-between">
						<div class="range-input">
							<input type="number" value="0" min="0" max="100000" id="input-minLenght-min" />
							<label>от</label>
						</div>

						<div class="range-input">
							<input type="number" value="100000" min="0" max="100000" id="input-minLenght-max"/>
							<label>до</label>
						</div>
					</div>
				</div>
			</div>

			<div class="filter-min-drop">
				<div class="filter-min-drop-btn">Назначение</div>
				<div class="filter-min-drop-body">
					<div class="check-box">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="1">
							<label class="form-check-label" for="1">Холл/гостиная</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="2">
							<label class="form-check-label" for="2">Улица/терраса</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="3">
							<label class="form-check-label" for="3">Бассейн</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="4">
							<label class="form-check-label" for="4">Ванная комната</label>
							<span></span>
						</div>

						<div class="form-check form-check-hide">
							<input class="form-check-input" type="checkbox" value="" id="5">
							<label class="form-check-label" for="5">Ванная комната</label>
							<span></span>
						</div>

						<div class="form-check form-check-hide">
							<input class="form-check-input" type="checkbox" value="" id="6">
							<label class="form-check-label" for="6">Ванная комната</label>
							<span></span>
						</div>

						<div class="show-more" data-open="false">Показать все</div>
					</div>
				</div>
			</div>

			<div class="filter-min-drop">
				<div class="filter-min-drop-btn">Назначение</div>
				<div class="filter-min-drop-body">
					<div class="check-box">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="7">
							<label class="form-check-label" for="7">Холл/гостиная</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="8">
							<label class="form-check-label" for="8">Улица/терраса</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="9">
							<label class="form-check-label" for="9">Бассейн</label>
							<span></span>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="10">
							<label class="form-check-label" for="10">Ванная комната</label>
							<span></span>
						</div>

						<div class="form-check form-check-hide">
							<input class="form-check-input" type="checkbox" value="" id="11">
							<label class="form-check-label" for="11">Ванная комната</label>
							<span></span>
						</div>

						<div class="form-check form-check-hide">
							<input class="form-check-input" type="checkbox" value="" id="12">
							<label class="form-check-label" for="12">Ванная комната</label>
							<span></span>
						</div>

						<div class="show-more" data-open="false">Показать все</div>
					</div>
				</div>
			</div>
			<button type="submit" class="filter-form-btn">Показать</button>
		</form>
	</div>
</div>