<div class="col-xl-3 col-lg-4  d-none d-lg-block">
  <div class="category-table-filter">
    <form id="filter">
      <div class="filter-category">
        <h5>Категории</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="new">
            <label class="form-check-label" for="new" data-toggle="popover" data-content="Показать">Новинки</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hit">
            <label class="form-check-label" for="hit" data-toggle="popover" data-content="Показать">Хиты</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sale">
            <label class="form-check-label" for="sale">Распродажа</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="bestPrice">
            <label class="form-check-label" for="bestPrice">Лучшая цена</label>
            <span></span>
          </div>
        </div>
      </div>

      <div class="filter-color">
        <h5>Цвет</h5>

        //= choice-color.html
      </div>
      
      <div class="filter-range">
        <h5>Длина, мм.</h5>
        <div class="range-slider">

          <input id="lenght-slider"  value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,100000]"/>


          <div class="d-flex justify-content-between">
            <div class="range-input">
              <input type="number" value="0" min="0" max="100000" id="input-lenght-min" />
              <label>от</label>
            </div>

            <div class="range-input">
              <input type="number" value="100000" min="0" max="100000" id="input-lenght-max"/>
              <label>до</label>
            </div>
          </div>
        </div>
      </div>

      <div class="filter-range">
        <h5>Ширина, мм.</h5>
        <div class="range-slider">

          <input id="width-slider"  value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,100000]"/>


          <div class="d-flex justify-content-between">
            <div class="range-input">
              <input type="number" value="0" min="0" max="100000" id="input-width-min" />
              <label>от</label>
            </div>

            <div class="range-input">
              <input type="number" value="100000" min="0" max="100000" id="input-width-max"/>
              <label>до</label>
            </div>
          </div>
        </div>
      </div>

      <div class="filter-range">
        <h5>Толщина, мм.</h5>
        <div class="range-slider">

          <input id="thickness-slider"  value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,100000]"/>


          <div class="d-flex justify-content-between">
            <div class="range-input">
              <input type="number" value="0" min="0" max="100000" id="input-thickness-min" />
              <label>от</label>
            </div>

            <div class="range-input">
              <input type="number" value="100000" min="0" max="100000" id="input-thickness-max"/>
              <label>до</label>
            </div>
          </div>
        </div>
      </div>

      <div class="filter-range">
        <h5>Цена, руб.</h5>
        <div class="range-slider">

          <input id="price-slider"  value="" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,100000]"/>


          <div class="d-flex justify-content-between">
            <div class="range-input">
              <input type="number" value="0" min="0" max="100000" id="input-price-min" />
              <label>от</label>
            </div>

            <div class="range-input">
              <input type="number" value="100000" min="0" max="100000" id="input-price-max"/>
              <label>до</label>
            </div>
          </div>
        </div>
      </div>

      <div class="filter-category">
        <h5>Назначение</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="assignment1">
            <label class="form-check-label" for="assignment1">Холл/гостиная</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="assignment2">
            <label class="form-check-label" for="assignment2">Улица/терраса</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="assignment3">
            <label class="form-check-label" for="assignment3">Бассейн</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="assignment4">
            <label class="form-check-label" for="assignment4">Ванная комната</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="assignment5">
            <label class="form-check-label" for="assignment5">Ванная комната</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="assignment6">
            <label class="form-check-label" for="assignment6">Ванная комната</label>
            <span></span>
          </div>

          <div class="show-more" data-open="false">Показать все</div>
        </div>
      </div>

      <div class="filter-category">
        <h5>Применение</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="use1">
            <label class="form-check-label" for="use1">Пол</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="use2">
            <label class="form-check-label" for="use2">Стены</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="use3">
            <label class="form-check-label" for="use3">Кухонный фартук</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="use4">
            <label class="form-check-label" for="use4">Фасад</label>
            <span></span>
          </div>
        </div>
      </div>

      <div class="filter-category">
        <h5>Фактура</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="texture1">
            <label class="form-check-label" for="texture1">Под дерево</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="texture2">
            <label class="form-check-label" for="texture2">Моноколор</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="texture3">
            <label class="form-check-label" for="texture3">Под камень</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="texture4">
            <label class="form-check-label" for="texture4">Под металл</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="texture5">
            <label class="form-check-label" for="texture5">Под металл</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="texture6">
            <label class="form-check-label" for="texture6">Под металл</label>
            <span></span>
          </div>

          <div class="show-more" data-open="false">Показать все</div>
        </div>
      </div>

      <div class="filter-category">
        <h5>Тип поверхности</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="surface1">
            <label class="form-check-label" for="surface1">Глянцевая</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="surface2">
            <label class="form-check-label" for="surface2">Матовая</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="surface3">
            <label class="form-check-label" for="surface3">Сатинированная</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="surface4">
            <label class="form-check-label" for="surface4">Рельефная</label>
            <span></span>
          </div>
        </div>
      </div>


      <div class="filter-category">
        <h5>Производитель</h5>
        <div class="check-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="producer1">
            <label class="form-check-label" for="producer1">AltaCera</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="producer2">
            <label class="form-check-label" for="producer2">Baldocer</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="producer3">
            <label class="form-check-label" for="producer3">Bestile</label>
            <span></span>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="producer4">
            <label class="form-check-label" for="producer4">Cas Ceramica</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="producer5">
            <label class="form-check-label" for="producer5">Cas Ceramica</label>
            <span></span>
          </div>

          <div class="form-check form-check-hide">
            <input class="form-check-input" type="checkbox" value="" id="producer6">
            <label class="form-check-label" for="producer6">Cas Ceramica</label>
            <span></span>
          </div>

          <div class="show-more" data-open="false">Показать все</div>
        </div>
      </div>
      <button type="submit" class="filter-form-btn">Показать</button>

    </form>

  </div>
</div>