<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12 d-none d-md-block">
        <div class="footer-menu">
          <p class="footer-title">Керамическая плитка</p>

          <ul class="footer-menu">
            <li><a href="#">Керамическая плитка</a></li>
            <li><a href="#">Керамогранит</a></li>
            <li><a href="#">Мозаика</a></li>
            <li><a href="#">Клинкер</a></li>
            <li><a href="#">Строительная химия</a></li>
            <li><a href="#">Сопутствующие товары</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-12 d-none d-md-block">
        <div class="footer-menu">
          <p class="footer-title">Компания</p>
          <ul class="footer-menu">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Акции / Новости</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Условия возврата</a></li>
            <li><a href="#">Договор публичной оферты</a></li>
            <li><a href="#">Защита персональных данных</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-12 d-none d-md-block">
        <p class="footer-title">Контакты</p>
        <div class="footer-contact">
          <p class="small">Адреса магазинов:</p>
          <p>Краснодар, Седина 159/1<br>Пн–Пт с 9:00 до 18:00</p>
          <p>Краснодар, Седина 159/1<br>Пн–Пт с 9:00 до 18:00</p>

          <button class="btn-orange" data-toggle="modal" data-target="#modal-center">Заказать звонок</button>
        </div>
      </div>

      <div class="col-md-3 col-12 d-none d-md-block">
        <div class="footer-phone">
          <p class="small">Телефон:</p>
          <a href="tel:+7 861 000 00 00" class="footer-link">+7 861 000 00 00</a>
          <p class="small">E–mail:</p>
          <a href="mailto:example@mail.ru" class="footer-link">example@mail.ru</a>
          <p class="small">Соц.сети:</p>
          //= social.html
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-block d-md-none">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Керамическая плитка</a>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="footer-menu">
                  <li><a href="#">Керамическая плитка</a></li>
                  <li><a href="#">Керамогранит</a></li>
                  <li><a href="#">Мозаика</a></li>
                  <li><a href="#">Клинкер</a></li>
                  <li><a href="#">Строительная химия</a></li>
                  <li><a href="#">Сопутствующие товары</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Компания</a>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="footer-menu">
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Доставка и оплата</a></li>
                  <li><a href="#">Акции / Новости</a></li>
                  <li><a href="#">Вопросы и ответы</a></li>
                  <li><a href="#">Галерея</a></li>
                  <li><a href="#">Отзывы</a></li>
                  <li><a href="#">Контакты</a></li>
                  <li><a href="#">Условия возврата</a></li>
                  <li><a href="#">Договор публичной оферты</a></li>
                  <li><a href="#">Защита персональных данных</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Контакты</a>
              </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="footer-contact">
                  <p class="small">Адреса магазинов:</p>
                  <p>Краснодар, Седина 159/1<br>Пн–Пт с 9:00 до 18:00</p>
                  <p>Краснодар, Седина 159/1<br>Пн–Пт с 9:00 до 18:00</p>
                </div>

                <div class="footer-phone">
                  <p class="small">Телефон:</p>
                  <a href="tel:+7 861 000 00 00" class="footer-link">+7 861 000 00 00</a>
                  <p class="small">E–mail:</p>
                  <a href="mailto:example@mail.ru" class="footer-link">example@mail.ru</a>
                  <p class="small">Соц.сети:</p>
                  //= social.html
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="btn-orange" data-toggle="modal" data-target="#modal-center">Заказать звонок</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between copyright">
          <p>2019. ООО «Каффель». Все права под защитой ФСБ.</p>
          <p>2018. ООО “Компания”</p>
          <p>Разработка и развитие — <a href="#">Клиент просто</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

//= modal-item.html