<div class="col-xl-3 col-lg-4 col-12">
	<a href="gallery-item.html" class="d-block gallery-link">
		<div class="gallery-item">
			<div class="gallery-item-wrap">
				<div class="gallery-item-image">
					<img src="assets/images/item2.png">
				</div>
			</div>
			<p class="gallery-item-title">Наша плитка у Губернатора</p>
		</div>
	</a>
</div>