<header class="header">
	<section class="header-info">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex">
						<div class="header-info-adress"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Краснодар</div>
						<div class="header-info-time"><span class="icon"><i class="far fa-clock"></i></span>Пн–Пт с 9:00 до 18:00</div>
						<div class="d-flex ml-auto">
							<a class="header-info-phone" href="tel:+7 861 000 00 00"><span class="icon"><i class="fas fa-phone"></i></span>+7 861 000 00 00</a>
							//= social.html
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="header-second-row">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex justify-content-between  align-items-center">
						<a href="header-logo">
							<img src="assets/images/logo.png">
						</a>

						<form class="header-search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Например, крутая керамика" aria-describedby="button">
								<div class="input-group-append">
									<button class="btn" type="button" id="button"><span></span>Найти</button>
								</div>
							</div>
						</form>

						<div class="header-person">
							<ul class="header-person-link align-items-center">
								<li><a href="#"><span class="icon person"></span>Личный кабинет</a></li>
								<li><a href="#"><span class="icon favorite"></span>Избранное</a></li>
								<li><a href="#"><span class="icon cart"></span>Корзина</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="header-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex justify-content-between align-items-center header-nav-menu ">
						<a href="header-logo" class="main-link-fixed">
							<img src="assets/images/logo.png">
						</a>
						<a href="catalog.html" class="main-link catalog-link">Каталог товаров</a>
						<a href="about.html" class="main-link">О нас</a>
						<a href="delivery.html" class="main-link">Доставка и оплата</a>
						<a href="news.html" class="main-link">Акции и новости</a>
						<a href="question.html" class="main-link">Вопрос / ответ</a>
						<a href="gallery.html" class="main-link">Галерея</a>
						<a href="feedback.html" class="main-link">Отзывы</a>
						<a href="contact.html" class="main-link">Контакты</a>
						<a href="search.html" class="main-link-fixed icon"><span class="search"></span>Поиск</a>
						<a href="profile.html" class="main-link-fixed icon"><span class="person"></span>Личный кабинет</a>
						<a href="favorites.html" class="main-link-fixed icon"><span class="favorite"></span>Избранное</a>
						<a href="basket.html" class="main-link-fixed icon"><span class="cart"></span>Корзина</a>
						<a class="main-link-fixed icon" href="tel:+7 861 000 00 00"><span class="phone"></span>+7 861 000 00 00</a>


						<div class="main-menu">
							<ul class="main-menu-list">
								<li><a href="#">Керамическая плитка</a>
									<ul class="second-row">
										<li><a href="#">Ванная комната</a>
											<ul class="third-row">
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
											</ul>
										</li>
										<li><a href="#">Ванная комната</a></li>
										<li><a href="#">Ванная комната</a></li>
									</ul>
								</li>
								<li><a href="#">Керамическая плитка</a>
									<ul class="second-row">
										<li><a href="#">Ванная комната</a>
											<ul class="third-row">
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
											</ul>
										</li>
										<li><a href="#">Ванная комната</a></li>
										<li><a href="#">Ванная комната</a></li>
									</ul>
								</li>
								<li><a href="#">Клинкер</a></li>
								<li><a href="#">Мозаика</a></li>
								<li><a href="#">Ступени из керамогранита</a>
									<ul class="second-row">
										<li><a href="#">Ванная комната</a>
											<ul class="third-row">
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
												<li><a href="#">Зеркала</a></li>
											</ul>
										</li>
										<li><a href="#">Ванная комната</a></li>
										<li><a href="#">Ванная комната</a></li>
									</ul>
								</li>
								<li><a href="#">Сантехника</a></li>
								<li><a href="#">Вентилируемые фасады</a></li>
								<li><a href="#">Декоративные элементы</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</header>

<div class="header-min">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="d-flex  align-items-end">
					<div class="header-min-menu cd-dropdown-trigger"></div>
					<div class="header-min-search"></div>
					<form class="header-min-form">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Что ищете?" aria-label="">

							<div class="input-group-append" id="">
								<button class="btn btn-search" type="button" id="button-addon2"></button>
								<button class="btn btn-close" type="button" id="button-addon2"></button>
							</div>
						</div>
					</form>
					<div class="header-min-logo">
						<a href="index.html">
							<img src="assets/images/logo.png">
						</a>
					</div>
					<a href="#" class="header-min-favorite"></a>
					<a href="#" class="header-min-basket"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cd-dropdown-wrapper">
	<nav class="cd-dropdown">
		<div class="d-flex header-min">
			<a href="#0" class="cd-close">Close</a>
			<div class="header-min-search"></div>

			<div class="header-min-logo">
				<a href="index.html">
					<img src="assets/images/logo.png">
				</a>
			</div>
			<a href="#" class="header-min-favorite"></a>
			<a href="#" class="header-min-basket"></a>
		</div>

		<ul class="cd-dropdown-content">
			<li class="profile-link">
				<a href="#">Личный кабинет</a>
			</li>
			<li class="has-children">
				<a href="catalog.html">Керамическая плитка</a>
				<span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>


					<li class="has-children">
						<a href="catalog.html">1 комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="catalog.html">Зеркала</a></li>
							<li><a href="#">Зеркала111</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="catalog.html">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="catalog.html">Зеркала</a></li>
							<li><a href="#">Зеркала22</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="catalog.html">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
				<!-- .cd-secondary-dropdown -->
			</li>


			<li class="has-children">
				<a href="catalog.html">Клинкер</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>

					<li class="has-children">
						<a href="catalog.html">2 комната</a><span class="has-children-arrow"></span>

						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
			</li>


			<li class="has-children">
				<a href="#">Мозаика</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>


					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has-children">
				<a href="#">Ступени из керамогранита</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>

					<li class="has-children">
						<a href="#">3 комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has-children">
				<a href="#">Сантехника</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>

					<li class="has-children">
						<a href="#">4 комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has-children">
				<a href="#">Вентилируемые фасады</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>
					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has-children">
				<a href="#">Декоративные элементы</a><span class="has-children-arrow"></span>

				<ul class="cd-secondary-dropdown is-hidden">
					<li class="go-back"><a href="#0">Назад</a></li>
					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Ванная комната</a><span class="has-children-arrow"></span>
						<ul class="is-hidden  third-dropdown">
							<li class="go-back"><a href="#0">Ванная комната</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
							<li><a href="#">Зеркала</a></li>
						</ul>
					</li>

				</ul>
			</li>

			<li class="not-child">
				<a href="sale-and-news">Акции и новости</a>
			</li>

			<li class="not-child">
				<a href="question.html">Вопрос / ответ</a>
			</li>

			<li class="not-child">
				<a href="gallery.html">Галерея</a>
			</li>

			<li class="not-child">
				<a href="feedback.html">Отзывы</a>
			</li>

			<li class="not-child">
				<a href="contact.html">Контакты</a>
			</li>

			<li class="not-child">
				<a href="about.html">О нас</a>
			</li>

			<li class="not-child">
				<a href="delivery.html">Доставка и оплата</a>
			</li>

			<li class="header-min-social"><a class="phone" href="tel:+7 861 000 00 00"><span class="icon"></span>+7 861 000 00 00</a>
				<div class="d-flex  justify-content-center social-link">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</li>
			<li class="has-children header-min-info">
				<p>2018. ООО «Каффель»</p>
				<p>Разработка и развитие — <a href="#">Клиент просто</a></p>
			</li>
		</ul>
	</nav>
</div>
