<title>Плитка</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-slider.css">
<link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/jquery.timepicker.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">

