<div class="col-lg-3 col-md-4 col-sm-6 col-12">
  <div class="stock-item">
    <div class="stock-item-wrap">
      <div class="stock-item-image">
        <a href="news.html">
          <img src="assets/images/stock.png">
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <p class="stock-item-type">Акция</p>
      <p class="stock-item-date">01. 10. 2019</p>
    </div>

    <a href="news.html" class="stock-item-title">Новогодние скидки</a>

    <p class="stock-item-text">В этом году у нас большие скидки на всю сантехнику бренада Каффель</p>
  </div>
</div>