<div class="modal fade bd-example-modal-lg modal-order" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-6 col-lg-8 col-md-10 col-12">
            <h4>Заказать</h4>
            <p>Введите номер телефона и мы свяжемся с Вами в течение 10 минут, чтобы уточнить наличие данного товара и его стоимость.</p>
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" id="inputName" placeholder="Имя" required>
              </div>

              <div class="form-group">
                <input type="tel" class="form-control" id="inputNumber" placeholder="+7 (___) __ __ ___" required>
              </div>
              <button type="submit" class="btn-orange">Отправить заявку</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg modal-availability" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-6 col-lg-8 col-md-10 col-12">
            <h4>Узнать наличие</h4>
            <p>Введите номер телефона и мы свяжемся с Вами в течение 10 минут, чтобы уточнить наличие данного товара и его стоимость.</p>

            <form class="needs-validation" novalidate>
              <div class="form-group">
                <input type="tel" class="form-control" id="inputNumber" placeholder="+7 (___) __ __ ___" required>
              </div>
              <button type="submit" class="btn-orange">Отправить заявку</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-center" id="modal-center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Оставьте пожалуйста ваш номер телефона и наш менеджер свяжется с вами в ближайшее время</h5>
        <form class="needs-validation" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" id="inputName" placeholder="Имя" required>
          </div>

          <div class="form-group">
            <input type="tel" class="form-control" id="inputNumber" placeholder="+7 (___) __ __ ___" required>
          </div>
          <button type="submit" class="btn-orange">Отправить заявку</button>
          <p class="small">Нажимая на кнопку «Отправить заказ», вы принимаете условия <a href="#">Публичной оферты</a></p>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-login" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Вход</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Регистрация</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="E–mail" required>
              </div>

              <div class="form-group">
                <input type="tel" class="form-control" id="inputNumber" placeholder="+7 (___) __ __ ___" required>
              </div>
              <button type="submit" class="btn-orange">Вход</button>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" id="inputEmail" placeholder="Имя" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="E–mail" required>
              </div>

              <div class="form-group">
                <input type="tel" class="form-control" id="inputNumber" placeholder="+7 (___) __ __ ___" required>
              </div>
              <button type="submit" class="btn-orange">Регистрация</button>
              <p class="small">Нажимая на кнопку «Отправить заказ», вы принимаете условия <a href="#">Публичной оферты</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-center modal-password" id="modal-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Запрос пароля</h5>
        <p class="text-center">Если вы забыли пароль, введите e–mail. Контрольная строка для смена пароля, будет выслана вам на почту.</p>
        <form class="needs-validation" novalidate>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="E–mail" required>
          </div>

          <button type="submit" class="btn-orange">Отправить</button>
          <p class="small">Нажимая на кнопку «Отправить заказ», вы принимаете условия <a href="#">Публичной оферты</a></p>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg modal-product" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="product-card-gallery">
              <div class="big-image">
                <img src="assets/images/plitka1.png" class="img-fluid">
              </div>

              <div class="d-flex min-images">
                <img src="assets/images/plitka1.png" class="d-block active" data-src="assets/images/plitka1.png">
                <img src="assets/images/plitka.png" class="d-block" data-src="assets/images/plitka.png">
                <img src="assets/images/plitka1.png" class="d-block" data-src="assets/images/plitka1.png">
                <img src="assets/images/plitka.png" class="d-block" data-src="assets/images/plitka.png">
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-12">
            <div class="product-card-title">
              <h3>Керамическая плитка для пола Plaza Agadir 45x45</h3>
              <p>Описание товара: матовая Керамическая плитка для пола Plaza Agadir 45x45 из коллекции Plaza.</p>
            </div>
            <div class="product-card-price">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="old-price">1 200 р.</p>
                  <p class="new-price">500 р.</p>
                </div>

                <div class="d-flex label-product">
                  <img src="assets/images/icons/new.png">
                  <img src="assets/images/icons/hit.png">
                  <img src="assets/images/icons/sale.png">
                </div>
              </div>

              <p class="product-units">Количество в шт / м2</p>

              <div class="calc-spinner">
                <div class="d-flex justify-content-between">
                  <button class="calc-spinner-minus">-</button>
                  <div class="form-group wrap-input">
                    <label for="spinnerCount1">шт.</label>
                    <input  type="number" name="" class="calc-spinner-count" value="1" id="spinnerCount1">
                  </div>

                  <div class="form-group wrap-input">
                    <label for="spinnerSize1">м<sup>2</sup></label>
                    <input  type="number" name="" class="calc-spinner-size" data-size="0.2" value="0.2" id="spinnerSize1">
                  </div>

                  <button class="calc-spinner-plus">+</button>
                </div>

                <button class="btn-add-baster">Добавить в корзину</button>

                <div class="d-flex">
                  <button class="btn-gray">Купить в один клик</button>

                  <button class="add-like"><i class="fas fa-heart"></i></button>
                </div>
              </div>
            </div>
            <div class="product-card-info">
              <h5>Характеристики</h5>

              <ul class="info-list">
                <li><span>Назначение:</span> <a href="#">Ванная комната, Кухня, Холл/гостиная</a></li>
                <li><span>Применение:</span> <a href="#">Пол</a></li>
                <li><span>Коллекция:</span> <a href="#">Agadir</a></li>
                <li><span>Производитель:</span> <a href="#">Plaza</a></li>
                <li><span>Страна:</span> <a href="#">Испания</a></li>
                <li><span>Поверхность:</span><a href="#">Матовая</a></li>
                <li><span>Фактура:</span><a href="#">Под мрамор</a></li>
                <li><span>Цвет:</span> <a href="#">Бежевый</a></li>
                <li><span>Размер:</span> <a href="#">450 x 450 x 9 мм</a></li>
                <li><span>Код номенклатуры:</span> <a href="#">00000007244</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>