<div class="paginaton">
	<div class="d-flex justify-content-between">
		<a href="#" class="paginaton-prev paginaton-disable">Назад</a>

		<ul class="paginaton-list">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#0" class="paginaton-list-disable">...</a></li>
			<li><a href="#">32</a></li>
			<li><a href="#">33</a></li>
		</ul>

		<a href="#" class="paginaton-next">Вперед</a>
	</div>
</div>