<section class="popular-collections">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Популярные коллекции</h1>
			</div>
		</div>

		<div class="row">
			//= collection-item.html
			//= collection-item.html
			//= collection-item.html
			//= collection-item.html
		</div>
	</div>
</section>