<div class="col-xl-3 col-lg-4 col-md-6 col-12">
  <div class="product product-disabled">
    <div class="product-wrap">
      <div class="product-image">
        <img src="assets/images/plitka.png">

        <div class="d-flex product-btn">
          <button class="btn-watch"  data-toggle="modal" data-target=".modal-product"><i class="fas fa-eye"></i></button>

          <button class="add-like"><i class="fas fa-heart"></i></button>

          <button class="btn-call"><i class="fas fa-mobile-alt"></i></button>
        </div>
      </div>
    </div>

    <p class="product-price"><span>1114</span>619 р./м2</p>
    <p class="product-name">Керамическая плитка для пола Baldocer Carpattia Ocre 44,7x44,7</p>
    <p class="product-availability">Уточнить наличие</p>
    <p class="product-units">Количество в шт / м2</p>

    <div class="calc-spinner calc-spinner-disabled">
      <div class="d-flex justify-content-between">
        <button class="calc-spinner-minus" disabled>-</button>

        <div class="form-group wrap-input">
          <label for="spinnerCount">м<sup>2</sup></label>
          <input  type="number" name="" class="calc-spinner-count" value="1" id="spinnerCount" disabled>
        </div>

        <div class="form-group wrap-input">
          <label for="spinnerSize">шт.</label>
          <input  type="number" name="" class="calc-spinner-size" data-size="0.2" value="0.2" id="spinnerSize" disabled>
        </div>
        <button class="calc-spinner-plus" disabled>+</button>
      </div>

      <button class="btn-add-baster" disabled><span></span>В корзину</button>
    </div>


    <div class="product-watch">
      <div class="product-watch-header">
        <button class="watch-close"></button>
      </div>

      <div class="product-watch-body">
        <h4 class="title">Заказать</h4>
        <p>Введите номер телефона и мы свяжемся с Вами в течение 10 минут, чтобы уточнить наличие данного товара и его стоимость.</p>

        <form class="needs-validation" novalidate>
          <div class="form-group">
            <input type="text" name="" class="form-control" placeholder="Имя" required>
          </div>
          <div class="form-group">
            <input type="tel" name="" class="form-control input-numder" placeholder="+7 (___) __ __ ___" required>
          </div>
          <button>Сохранить изменения</button>
        </form>
      </div>
    </div>

    <div class="product-call">
      <div class="product-call-header">
        <button class="call-close"></button>
      </div>

      <div class="product-call-body">
        <h4 class="title">Узнать наличие</h4>
        <p>Введите номер телефона и мы свяжемся с Вами в течение 10 минут, чтобы уточнить наличие данного товара и его стоимость.</p>
        <form class="needs-validation" novalidate>
          <div class="form-group">
            <input type="tel" name="" class="form-control input-numder" placeholder="+7 (___) __ __ ___" required>
          </div>
          <button>Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</div>