/*LINK*/
.social-list {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

	li {
		display: inline-block;
		margin-right: 16px;

		a {
			display: block;
			height: 24px;
			width: 24px;
			color: $white-color;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			transition: 0.15s;

			&:hover {
				color: $orange-color;
				transition: 0.15s;
			}
		}

		&:last-child {
			margin-right: 0px;
		}
	}
}
/*button*/
.btn-orange {
	height: 40px;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: $orange-color;
	color: $white-color;
	padding: 10px 24px;
	font-weight: 600;
	line-height: 20px;
	font-size: 14px;
	border: none;
	display: block;
	width: fit-content;
	cursor: pointer;
	transition: 0.25s;

	&:hover {
		transition: 0.25s;
		color: $white-color;
		text-decoration: none;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	}

	&:active {
		outline: none;
		box-shadow: none;
	}

	&:focus {
		outline: none;
		border: 1px solid #262626;
		box-sizing: border-box;
	}
}

.btn-delete {
	background: none;
	border: none;
	font-weight: 600;
	line-height: 20px;
	font-size: 14px;
	padding: 0;
	color: $red-color;
	height: 20px;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.add-like {
	display: none;
	height: 24px;
	width: 24px;
	padding: 0;
	text-align: center;
	color: $black-color;
	background-color: $white-color;
	border-radius: 2px;
	transition: 0.25s;
	border: none;
	font-size: 18px;
	line-height: 22px;
	margin-left: auto;

	&.active {
		color: $white-color;
		background: $orange-color;
	}

	&:focus {
		outline: none;
	}
}

form {
	.form-group {
		.form-control {
			transition: 0.25s;

			&:hover {
				transition: 0.25s;
				border: 1px solid $orange-color;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
			}

			&:active {
				outline: none;
				border: 1px solid $orange-color;
				box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
			}

			&:focus {
				border: 1px solid #262626;
				outline: none;
			}

			&:valid {
				border: 1px solid $swiper-gray-color;
				outline: none;
				box-shadow: none;
				background: $white-color;
			}

			&:invalid {
				outline: none;
				box-shadow: none;
			}
		}
	}
}


/*item*/

.product {
	margin: auto;
	margin-bottom: 52px;
	max-width: 282px;
	position: relative;
	
	&-wrap {
		cursor: pointer;
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 16px;
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.img {
			width: 100%;
		}
	}

	&-btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 2;
		padding: 16px 16px 0 0;
		
		.btn-watch {
			margin-left: auto;
		}

		.add-like {
			display: block;
			margin-left: 16px;
		}

		.btn-call {
			margin-left: 16px;
		}

		.btn-watch, .btn-call {
			height: 24px;
			width: 24px;
			background: #FFFFFF;
			border-radius: 2px;
			border: none;
			text-align: center;
			padding: 0;
			color: $black-color;
			transition: 0.25s;

			&:hover {
				background-color: $orange-color;
				color: $white-color;
				transition: 0.25s;
			}

			&:focus {
				outline: none;
			}
		}
	}

	&-price {
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 16px;
		font-weight: 600;
		color: $black-color;

		span {
			font-weight: 400;
			padding-right: 8px;
			color: #767676;
			text-decoration-line: line-through;
		}
	}

	&-name {
		line-height: 20px;
		font-size: 14px;
		color: $black-color;
		margin-bottom: 16px;
	}

	&-availability {
		line-height: 16px;
		font-size: 12px;
		margin-bottom: 16px;
		color: $gray-tabs-color;
	}

	&-units {
		color: $gray-tabs-color;
		line-height: 16px;
		font-size: 12px;
	}

	&-watch {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: $light-gray-bg;
		padding: 0 24px 32px 24px;

		&-header {
			padding-top: 16px;
			text-align: right;

			.watch-close {
				height: 24px;
				width: 24px;
				padding: 0;
				border: none;
				background: none;
				background-image: url("../images/icons/close.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&-body {
			.title {
				font-weight: 600;
				line-height: 28px;
				font-size: 20px;
				margin-bottom: 16px;
			}

			form {
				width: 100%;
				position: absolute;
				bottom: 32px;
				left: 0px;
				padding: 0 24px ;

				input {
					height: 40px;
					width: 100%;
					padding: 10px 16px;
					background: $white-color;
					border: 1px solid $swiper-gray-color;
					box-sizing: border-box;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					margin-bottom: 16px;
				}

				button {
					height: 40px;
					width: 100%;
					color: $white-color;
					border: none;
					background: $orange-color;
				}
			}
		}
	}

	&-call {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: $light-gray-bg;
		padding: 0 24px 32px 24px;

		&-header {
			padding-top: 16px;
			text-align: right;

			.call-close {
				height: 24px;
				width: 24px;
				padding: 0;
				border: none;
				background: none;
				background-image: url("../images/icons/close.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&-body {
			.title {
				font-weight: 600;
				line-height: 28px;
				font-size: 20px;
				margin-bottom: 16px;
			}

			form {
				width: 100%;
				position: absolute;
				bottom: 32px;
				left: 0px;
				padding: 0 24px ;

				input {
					height: 40px;
					width: 100%;
					padding: 10px 16px;
					background: $white-color;
					border: 1px solid $swiper-gray-color;
					box-sizing: border-box;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					margin-bottom: 16px;
					transition: 0.25s;
					
					&:hover {
						transition: 0.25s;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
					}

					&:active {
						outline: none;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					}

					&:focus {
						border: 1px solid #262626;
						outline: none;
					}
				}

				button {
					height: 40px;
					width: 100%;
					color: $white-color;
					border: none;
					background: $orange-color;
				}
			}
		}
	}
}

.product-disabled {
	.product-availability {
		cursor: pointer;
		display: block;
		color: $orange-color;

		&:hover {
			text-decoration: underline;
		}
	}

	.calc-spinner {
		.wrap-input {
			label {
				background-color: transparent;
				color: $placeholder-color;
			}
		}
	}
}

.collection {
	margin-bottom: 32px;

	&-image-wrap {
		cursor: pointer;
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 16px;
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.img {
			width: 100%;
		}

		&:hover {
			transition: 0.25s;
			.add-like {
				display: block;
			}
		}
	}

	&-label {
		width: 100%;
		padding: 16px;
		position: absolute;
		top: 0;
		right: 0;

		img {
			margin-right: 16px;
		}
	}

	&-price {
		line-height: 24px;
		font-size: 16px;
		font-weight: 600;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	&-name {
		line-height: 20px;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 16px;
	}
}

.color-block {
	div {
		width: 24px;
		height: 24px;
		min-width: 24px;
		margin: 0 6px 8px 0;
		border-radius: 50%;
		text-align: center;
		color: $black-color;
		line-height: 24px;
	}

	.gray {
		background-color: $radio-gray;
	}

	.lightBrown {
		background-color: $radio-lightBrown;
	}

	.black {
		background-color: $radio-black;
	}

	.brown {
		background-color: $radio-brown;
	}

	.lightGray {
		background-color: $radio-lightGray;
	}

	.darkBrown {
		background-color: $radio-darkBrown;
	}

	.blue {
		background-color: $radio-blue;
	}	

	.multicolored {
		background-image: url("../images/icons/multi.png");
	}	
}

.stock-item {
	margin-bottom: 32px;

	&-wrap {
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 16px;
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
		}
	}
	
	&-type {
		line-height: 16px;
		font-size: 12px;
		color: $orange-color;
		margin-bottom: 0;
	}

	&-date {
		margin-bottom: 0;
		line-height: 16px;
		font-size: 12px;
		color: $placeholder-color;
	}

	&-title {
		font-weight: 600;
		line-height: 24px;
		font-size: 16px;
		margin: 8px 0;
		display: block;
		color: $black-color;

		&:hover {
			color: $orange-color;
			text-decoration: none;
		}
	}

	&-text {
		line-height: 20px;
		font-size: 14px;
		margin-bottom: 0;
	}
}

.calc-spinner {
	.calc-spinner-plus, .calc-spinner-minus {
		height: 40px;
		min-width: 40px;
		border: 1px solid $swiper-gray-color;
		box-sizing: border-box;
		text-align: center;
		font-size: 20px;
		line-height: 38px;
		background-color: $white-color;
		transition: 0.25s;

		&:hover {
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
			transition: 0.25s;
		}

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
			border: 1px solid #262626;
		}
	}

	.calc-spinner-count, .calc-spinner-size {
		border: 1px solid $swiper-gray-color;
		box-sizing: border-box;
		box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
		height: 40px;
		box-sizing: border-box;
		min-width: 89px;
		width: 89px;
		text-align: center;
		color: $black-color;
		font-weight: 600;
		line-height: 20px;
		font-size: 14px;
		padding: 10px 33px 10px 10px;
		text-align: right;
		transition: 0.25s;
		-moz-appearance: textfield;

		&:hover {
			border: 1px solid $orange-color;
			box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
			transition: 0.25s;
		}

		&:active {
			outline: none;
			border: 1px solid $orange-color;
			box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
		}

		&:focus {
			outline: none;
			border: 1px solid #262626;
			box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
		}


		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		&.error {
			border: 1px solid $red-color;
		}
	}

	.btn-add-baster {
		margin-top: 16px;
		width: 100%;
		height: 40px;
		background: $orange-color;
		border-radius: 2px;
		font-weight: 600;
		line-height: 20px;
		font-size: 14px;
		color: $white-color;
		border: none;
		transition: 0.25s;

		&:hover {
			transition: 0.25s;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
		}

		&:active {
			outline: none;
			box-shadow: none;
		}

		&:focus {
			outline: none;
			border: 1px solid #262626;
			box-sizing: border-box;
		}
	}

	.wrap-input {
		position: relative;

		label {
			height: 29px;
			width: 13px;
			position: absolute;
			right: 20px;
			top: 10px;
			background-color: $white-color;
			color: $black-color;
			font-weight: 600;
			line-height: 20px;
			font-size: 14px;
			display: block;
		}
	}
}

.calc-spinner-disabled {
	.calc-spinner-plus, .calc-spinner-minus {
		color: $placeholder-color;
	}

	.calc-spinner-count, .calc-spinner-size {
		background: $swiper-gray-color;
		color: $placeholder-color;
	}

	.btn-add-baster {
		background: $swiper-gray-color;
		color: $placeholder-color;
	}
}


/*Radio color*/
.choice-color {
	.form-check {
		margin-right: 0;

		input[type="radio"] {
			display: none;
		}

		input[type="radio"] + label {
			color: #333;
			font-family: Arial, sans-serif;
			font-size: 14px;
		}

		input[type="radio"] + label span {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: -1px 4.5px 8px 0;
			vertical-align: middle;
			cursor: pointer;
			border-radius: 50%;
			box-sizing: border-box;
			border: 1px solid transparent;
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;
			line-height: 24px;
		}

		input[type="radio"] + label span img {
			opacity: 0;
			border-color: $black-color;
		}

		input[type="radio"]#gray + label span {
			background-color: $radio-gray;
		}

		input[type="radio"]#lightBrown + label span {
			background-color: $radio-lightBrown;
		}

		input[type="radio"]#black + label span {
			background-color: $radio-black;
		}

		input[type="radio"]#brown + label span {
			background-color: $radio-brown;
		}

		input[type="radio"]#lightGray + label span {
			background-color: $radio-lightGray;
		}

		input[type="radio"]#darkBrown + label span {
			background-color: $radio-darkBrown;
		}

		input[type="radio"]#blue + label span {
			background-color: $radio-blue;
		}

		input[type="radio"]#multicolored + label span {
			background-image: url("../images/icons/multi.png");
			background-size: cover;
		}

		input[type="radio"]:checked + label span {
			opacity: 1;
			background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
			width: 32px;
			height: 32px;
			display: inline-block;
			opacity: 0.7;
			border-color: $light-gray-color;
		}
	}
}

/*check*/
/*
.add-like {
	margin-left: auto;
	height: 24px;
	width: 24px;
	background-color: $white-color;
	border-radius: 2px;
	display: none;

	&:hover {
		display: block;
	}

	.check {
		position: relative;
		height: 24px;
		display: flex;
		align-items: center;

		span:before, span:after {
			content: "";
			display: inline-block;
			background: #fff;
			width: 0;
			height: 0.2rem;
			position: absolute;
			transform-origin: 0% 0%;
		}

		input {
			display: none;
		}

		input:checked ~ span {
			color: $white-color;
			background-color: $orange-color;
		}

		input:checked ~ span:before {
			transition: width 0.1s;
			transition-delay: 0.3s;
		}

		input:checked ~ span:after {
			transition: width 0.1s;
			transition-delay: 0.2s;
		}

		label {
			height: 24px;
			padding-left: 2rem;
			position: relative;
			left: 0;
			z-index: 2;
			cursor: pointer;
			margin-bottom:0;
		}

		span {
			display: inline-block;
			width: 24px;
			height: 24px;
			border: none;
			position: absolute;
			left: 0;
			transition: all 0.2s;
			z-index: 1;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}
	}
	}
	*/

	.check-box {
		.form-check {
			position: relative;
			display: flex;
			align-items: center;
			height: auto;

			input {
				display: none;
			}

			span:before, span:after {
				content: "";
				display: inline-block;
				background: #fff;
				width: 0;
				height: 16px;
				position: absolute;
				transform-origin: 0% 0%;
			}

			input:checked ~ span {
				background: $orange-color;
				border-color: $orange-color;
			}

			input:checked ~ span:before {
				width: 13px;
				height: 2px;
				transition: width 0.1s;
				transition-delay: 0.3s;
			}

			input:checked ~ span:after {
				width: 7px;
				height: 2px;
				transition: width 0.1s;
				transition-delay: 0.2s;
			}

			input:disabled ~ span {
				background: $gray-color;
				border-color: $black-color;
			}

			label {
				height: 24px;
				padding-left: 32px;
				position: relative;
				z-index: 2;
				left: -24px;
				cursor: pointer;
				margin-bottom: 8px;
				line-height: 20px;
				font-size: 14px;
				color: $black-color;
				padding-top: 6px;
			}

			input:disabled ~ label {
				color: $gray-color;
			}

			input:disabled ~ label:hover {
				cursor: default;
			}

			span {
				display: inline-block;
				width: 16px;
				height: 16px;
				border: 1.5px solid #000000;
				border-radius: 2px;
				position: absolute;
				left: 0;
				transition: all 0.2s;
				z-index: 1;
				box-sizing: content-box;
			}

			span:before {
				transform: rotate(-55deg);
				top: 13px;
				left: 6px;
			}
			span:after {
				transform: rotate(35deg);
				bottom: 6px;
				left: 3px;
			}
		}

		.form-check-hide {
			display: none;
		}
	}


	/*radio button*/

	.customradio {
		display: block;
		position: relative;
		padding-left: 32px;
		margin-bottom: 8px;
		cursor: pointer;
		line-height: 16px;
		font-size: 14px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.customradio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: $white-color;
		border-radius: 50%;
		border:1px solid $black-color;
	}

	.customradio:hover input ~ .checkmark {
		background-color: transparent;
	}

	.customradio input:checked ~ .checkmark {
		background-color: white;
		border: 1px solid $orange-color;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.customradio input:checked ~ .checkmark:after {
		display: block;
	}

	.customradio .checkmark:after {
		top: 2px;
		left: 2px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $orange-color;
	}

	/*breadcrumbs*/
	.breadcrumb {
		background: none;
		padding: 0;
		margin: 32px 0;

		&-item {
			line-height: 16px;
			font-size: 12px;

			a {
				color: $placeholder-color;

				&:hover {
					text-decoration: none;
					color: $orange-color;
				}
			}

			&.active {
				color: $black-color;
			}
		}
	}

	.nav-tabs {
		margin-bottom: 40px;

		.nav-link {
			background: none;
			border: none;
			line-height: 20px;
			font-size: 14px;
			padding: 0;
			padding-bottom: 16px;
			margin-right: 24px;
			color: $gray-tabs-color;
			box-sizing: border-box;
			transition: 0.25s;

			&.active {
				color: $orange-color;
				border-bottom: 2px solid $orange-color;
			}

			&:hover {
				transition: 0.25s;
				color: $orange-color;
			}
		}
	}


	/*pagination*/
	.paginaton {
		margin: 10px 0 80px 0;

		&-prev, &-next {
			font-weight: 600;
			line-height: 20px;
			font-size: 14px;
			color: $black-color;
			display: block;
			position: relative;

			&:hover {
				text-decoration: none;
				color: $black-color;
			}
		}

		&-prev {
			padding-left: 32px;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -2px;
				left: 0;
				height: 24px;
				width: 24px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-image: url("../images/icons/arrow-p.png")
			}
		}

		&-next {
			padding-right: 32px;

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: -2px;
				right: 0;
				height: 24px;
				width: 24px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-image: url("../images/icons/arrow-n.png")
			}
		}

		&-list {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				padding: 0;
				display: inline-block;
				margin: 0 8px;

				a {
					display: block;
					line-height: 24px;
					font-size: 14px;
					color: #000000;

					&:hover {
						text-decoration: none;
						color: $orange-color;
					}
				}
			}

			&-disable {
				cursor: context-menu;

				&:hover {
					color: #000000!important;
				}
			}
		}
	}


	/*blocks*/

	.popular-collections {
		margin-bottom: 48px;

		h1 {
			margin-bottom: 48px;
		}	
	}

	/*range slider*/
	.range-slider {
		width: 100%;
		margin: auto;
		text-align: center;
		position: relative;
		height: auto;
		.slider.slider-horizontal .slider-track {
			height: 8px;
			background: #E0E0E0;
			border: none;
			box-shadow: none;
		}

		.slider-selection {
			background: #E0E0E0;
		//background: $orange-color;
	}

	.slider.slider-horizontal {
		width: 94%;
		margin-bottom: 24px;
		padding: 0 10px;
	}

	.slider-handle {
		position: absolute;
		top: 1px;
		width: 16px;
		height: 16px;
		background-color: #A0A0A0!important;
		background-image: none;
	}

	input[type=number] {
		position: relative;
		width: 100%;
		height: 40px;
		background: $white-color;
		border: 1px solid $swiper-gray-color;
		text-align: left;
		padding-left: 39px;
		font-weight: 600;
		line-height: 20px;
		font-size: 14px;
		color: $black-color;
		-moz-appearance: textfield;
	}

	.range-input {
		position: relative;
		min-width: 47%;

		label {
			line-height: 20px;
			font-size: 14px;
			display: block;
			position: absolute;
			color: $gray-tabs-color;
			top: 10px;
			left: 16px;
		}

		&:first-child {
			margin-right: 16px;
		}
	}

	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	input[type=number]:invalid,
	input[type=number]:out-of-range {
		border: 2px solid #ff6347;
	}
}


@include media-breakpoint-down(lg) {  }
@include media-breakpoint-down(md) {
	.calc-spinner {

		.calc-spinner-count, .calc-spinner-size {
			padding: 10px 26px;
		}

		.wrap-input {
			position: relative;

			label {
				width: fit-content;
				right: 3px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {  }
@include media-breakpoint-down(xs) {  }