.footer {
	background-color: $black-color;
	padding-top: 80px;

	&-link {
		color: $white-color;
		line-height: 20px;
		font-size: 14px;
		margin-bottom: 16px;
		display: block;
		transition: 0.15s;

		&:hover {
			color: $white-color;
			transition: 0.15s;
		}
	}

	.small {
		margin-bottom: 8px;
		color: $light-gray-color;
	}

	&-title {
		color: $gray-color;
		font-weight: 400;
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 16px;
	} 

	&-menu {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		li {
			margin-bottom: 8px;

			a {
				color: $white-color;
				font-weight: 400;
				line-height: 20px;
				font-size: 14px;
				transition: 0.15s;
				text-decoration: none;

				&:hover {
					color: $orange-color;
					transition: 0.15s;
				}
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	&-contact {
		p {
			color: $white-color;
			margin-bottom: 24px;
			line-height: 20px;
			font-size: 14px;
		}
	}

	&-phone {
		padding-top: 40px;
	}

	.copyright {
		border-top: 1px solid $gray-color;
		margin-top: 48px;
		padding: 24px 0;
		
		p {
			margin-bottom: 0;
			line-height: 16px;
			font-size: 12px;
			color: $light-gray-color;

			&:nth-child(even) {
				display: none;
			}
		}

		a {
			color: $orange-color;
			text-decoration: none;
			transition: 0.15s;
		}
	}
}

@include media-breakpoint-down(sm) {
	.footer {
		background-color: $black-color;
		padding: 32px 3px 0 3px;

		&-phone {
			padding-top: 0px;
		}

		.accordion {
			.card {
				background: none;
				border: none;

				&-header{
					margin-bottom: 0;
					padding: 0;
					background: none;
					border-bottom: none;
					
					.btn {
						position: relative;
						padding: 18px 0;
						line-height: 20px;
						font-size: 14px;
						color: $orange-color;
						text-align: left;
						display: block;
						border-radius: 0;
						border-bottom: 1px solid $orange-color;


						&:after {
							content: "";
							position: absolute;
							right: 0;
							bottom: 18px;
							display: block;
							height: 24px;
							width: 24px;
							background-position: center;
							background-size: auto;
							background-repeat: no-repeat;
							background-image: url("../images/icons/arrow-fa.png");
							margin-left: auto;
						}

						&.collapsed {
							color: $white-color;
							border-bottom-color: $gray-color;

							&:after {
								background-image: url("../images/icons/arrow-f.png");
							}
						}
					}
				}

				&-body {
					padding: 10px 0;
				}
			}
		}

		.btn-orange {
			width: 100%;
			text-align: center;
			margin-top: 24px;
		}

		.copyright {
			border-top: 1px solid $gray-color;
			margin-top: 40px;
			padding: 40px 0 48px 0;
			-webkit-flex-direction: column;
			flex-direction: column;
			text-align: center;
			
			p {
				margin-bottom: 0;
				line-height: 16px;
				font-size: 12px;
				color: $light-gray-color;

				&:nth-child(even) {
					display: block;
					margin-bottom: 8px;
				}

				&:first-child {
					display: none;
				}
			}

			a {
				color: $orange-color;
				text-decoration: none;
				transition: 0.15s;
			}
		}
	}
}