.header {
	border-bottom: 1px solid $swiper-gray-color;
	width: 100%;
	z-index: 5;
	background-color: $white-color;

	&-info {
		background-color: $black-color;
		padding: 8px 0;
		color: $white-color;
		line-height: 16px;
		font-size: 12px;

		&-adress {
			margin-right: 24px;
		}

		&-time {
		}

		&-phone, &-time, &-adress {
			.icon {
				text-align: center;
				display: inline-block;
				height: 24px;
				width: 24px;
				color: $white-color;
				font-size: 16px;
				line-height: 1;
				margin-right: 8px; 
				padding-top: 3px;
			}
		}

		&-phone {
			line-height: 16px;
			font-size: 12px;
			margin-right: 24px;
			display: block;
			text-decoration: none;
			color: $white-color;

			&:hover {
				text-decoration: underline;
				color: $white-color;
			}
		}
	}

	.header-second-row {
		padding: 32px;

	}

	&-logo {

	}

	&-search {
		width: 617px;

		.input-group {
			height: 40px;

			.form-control {
				padding: 10px 16px;
				height: 40px;
				line-height: 20px;
				font-size: 14px;
				box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
				border-color: $swiper-gray-color;

				&:focus {
					outline: none;
					box-shadow: none;
					border-color: $swiper-gray-color;
				}

				&::placeholder {
					line-height: 20px;
					font-size: 14px;
					color: $placeholder-color;
				}
			}

			.input-group-append {
				.btn {
					padding: 10px 16px 10px 48px ;
					line-height: 18px;
					font-size: 14px;
					position: relative;
					background: $orange-color;
					border-color: $orange-color;
					color: $white-color;

					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 7px;
						left: 16px;
						height: 24px;
						width: 24px;
						background-image: url("../images/icons/search.png");
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center;
					}

					&:focus {
						outline: none;
						box-shadow: none;
						border-color: $orange-color;
					}
				}
			}
		}
	}
	
	&-person-link {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		-webkit-align-items: center;
		align-items: center;

		li {
			margin: 0 12px;
			padding: 0;

			a {
				display: flex;
				flex-direction: row;
				-webkit-flex-direction: row;
				line-height: 24px;
				font-size: 14px;
				color: $black-color;
				transition: 0.25s;
				text-decoration: none;

				.icon {
					display: block;
					height: 24px;
					width: 24px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-right: 8px;
				}

				.person {
					background-image: url("../images/icons/person.png");
				}

				.cart {
					background-image: url("../images/icons/cart.png");
				}

				.favorite {
					background-image: url("../images/icons/favorite.png");
				}

				&:hover {
					color: $orange-color;
					transition: 0.15s;
				}
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-nav {
		position: relative;

		&-menu {
			box-sizing: border-box;
			border-top: 1px solid $swiper-gray-color;

			.main-link {
				line-height: 24px;
				font-size: 14px;
				color: $black-color;
				text-decoration: none;
				transition: 0.15s;
				padding: 24px 0;

				&:hover {
					transition: 0.15s;
					color: $orange-color;
				}
			}

			.main-link-fixed {
				display: none;
			}

			.catalog-link {
				display: block;
				padding-left: 32px;
				padding-right: 32px;
				position: relative;
				transition: 0.25s;

				&:before, &:after{
					top: 24px;
					content: "";
					display: block;
					height: 24px;
					width: 24px;
					position: absolute;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				&:before {
					left: 0;
					background-image: url("../images/icons/menu-icon.png");
				}

				&:after {
					right: 0;
					background-image: url("../images/icons/menu-arrow.png");
				}

				&:hover {
					transition: .25s;

					&:before {
						left: 0;
						background-image: url("../images/icons/hover-menu.png");
					}

					&:after {
						right: 0;
						background-image: url("../images/icons/hover-arrow.png");
					}
				}

				&.active {
					color: $orange-color;


					&:before {
						left: 0;
						background-image: url("../images/icons/hover-menu.png");
					}

					&:after {
						right: 0;
						background-image: url("../images/icons/hover-arrow.png");
					}
				}
			}

			.main-menu {
				display: none;
				width: 1200px;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
				background-color: $white-color;
				padding: 14px 16px 24px 16px;
				position: absolute;
				top: 0px;
				top: 72px;
				border-top: 2px solid $orange-color;
				z-index: 3;

				&-list {
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;


					li {
						width: 285px;
						border-right: 1px solid $swiper-gray-color;

						a {
							color: $black-color;
							line-height: 20px;
							font-size: 14px;
							display: block;
							padding: 8px 0;
							box-sizing: border-box;
						}

						.second-row {
							padding-left: 40px; 
							list-style: none;
							margin-bottom: 0;
							display: none;
							position: absolute;
							left: 290px;
							top: 14px;
							width: 325px;
							height: 89%;
							border-right: 1px solid $swiper-gray-color;


							li {
								border-right: none;
								a {
									color: $black-color;
									border-right: none;
								}

								.third-row {
									padding-left: 40px;
									margin-bottom: 0;
									list-style: none;
									display: none;
									position: absolute;
									left: 320px;
									width: 300px;
									top: 0;

									li {
										border-right: none;
										a {
											border-right: none;
											color: $black-color;
										}

										&:hover {
											a {
												color: $orange-color;
											}
										}
									}
								}

								&:hover {
									a {
										color: $orange-color;
										border-right: 2px solid $orange-color;
									}

									ul {
										display: block;

									}
								}
							}
						}

						&:hover {
							ul {
								display: block;

								li {
									a {
										color: $black-color;
										border-right-color: none; 
									}
								}
							}

							a {
								text-decoration: none;
								color: $orange-color;
								border-right: 2px solid $orange-color; 
							}
						}
					}
				}

				&:hover {
					display: block;
				}
			}

			.main-menu-show {
				display: block;
			}
		}
	}

	&-nav-fixed {
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
		top: 0;
		position: fixed;
		width: 100%;
		z-index: 15;
		background-color: $white-color;	
		
		.header-nav-menu {
			border-top: none;

			.main-link {
				display: none;
			}

			.main-link-fixed {
				display: block!important;
				line-height: 24px;
				font-size: 14px;
				color: $black-color;
				text-decoration: none;
				transition: 0.15s;
				padding: 24px 0;
				display: none;

				&:hover {
					transition: 0.15s;
					color: $orange-color;
				}
			}

			.icon {
				padding-left: 32px;
				position: relative;
			}

			.person {
				position: absolute;
				top: 24px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/person.png");
			}

			.cart {
				position: absolute;
				top: 24px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/cart.png");
			}

			.favorite {
				position: absolute;
				top: 24px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/favorite.png");
			}

			.phone {
				position: absolute;
				top: 24px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/phone.svg");
			}

			.search {
				position: absolute;
				top: 24px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/search.svg");
			}

			.catalog-link {
				display: block;
			}
		}
	}
}

.header-min {
	background-color: $white-color;
	padding: 24px 0px;
	display: none;
	border-bottom: 1px solid $swiper-gray-color;

	&-logo {
		margin-left: auto;
		margin-right: auto;
	}

	&-menu, &-search, &-favorite, &-basket {
		height: 24px;
		width: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
	}

	&-menu {
		background-image: url("../images/icons/menu-icon.png");
		margin-right: 16px;
	}

	&-search {
		background-image: url("../images/icons/search-b.png");
	}

	&-favorite {
		background-image: url("../images/icons/favorite-b.png");
		margin-right: 16px;
	}

	&-basket {
		background-image: url("../images/icons/cart-b.png");
	}

	&-form {
		display: none;
		left: 0;
		position: absolute;
		width: 100%;
		background: $white-color;
		margin-top: 8px;
		padding: 0 12px;
		z-index: 15;

		.input-group {
			height: 40px;
			border: 1px solid #e0e0e0;
			border-radius: 2px;

			.form-control {
				height: 38px;
				border:none;
				padding: 10px 16px;
				line-height: 20px;
				font-size: 14px;
			}
		}

		.input-group-append {
			.btn-search {
				padding: 6px 3px;
				width: 30px;
				background-repeat: no-repeat;
				background-size: auto;
				background-position: center;
				background-image: url("../images/icons/search-b.png");
			}

			.btn-close {
				width: 30px;
				padding: 6px 3px;
				background-repeat: no-repeat;
				background-size: auto;
				background-position: center;
				background-image: url("../images/icons/close.svg");
			}
		}
	}
}

.min-menu {
	display: none;
	position: absolute;
	width: 100%;
	top: 74px;
	z-index: 5;
	background-color: $white-color;

	&-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 16px;

		li {
			a {
				padding: 18px 0;
				border-bottom: 1px solid $swiper-gray-color;
				display: block;
				line-height: 20px;
				font-size: 14px;
				color: $black-color
			}

			.sub-menu {
				display: none;
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
			}
		}
	}

	.simple-menu {
		list-style: none;padding-left: 0;
		margin-bottom: 24px;

		li {
			padding: 8px 0; 

			a {
				line-height: 20px;
				font-size: 14px;
				color: $black-color;

				&:hover {
					text-decoration: none;
					color: $orange-color;
				}	
			}
		}
	}

	&-contact {
		padding: 32px 0;
		border-top: 1px solid $swiper-gray-color;

		.link-phone {
			line-height: 20px;
			font-size: 14px;
			color: $black-color;
			text-decoration: none;
			padding-left: 32px;
			position: relative;

			&:after {
				content: "";
				display: block;
				height: 24px;
				width: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto;
				background-image: url("../images/icons/phone.png");
			}
		}

		.social-list {
			margin-top: 17px;
		}
	}

	&-info {
		padding: 32px 0;
		border-top: 1px solid $swiper-gray-color;

		p {
			line-height: 20px;
			font-size: 14px;
			color: $gray-tabs-color;
			margin-bottom: 0;

			&:first-child {
				margin-bottom: 8px;
			}

			a {
				color: $orange-color;
			}
		}
	}
}


@include media-breakpoint-down(lg) {
	.header {
		&-search {
			width: 397px;
		}

		&-nav {
			position: relative;

			&-menu {
				.main-menu {
					width: 936px;
				}
			}
		}

		&-nav-fixed {
			position: fixed;
		}
	}
}

@include media-breakpoint-down(md) {
	.header {
		display: none;
	}

	.header-min {
		display: block;
	}

	.cd-dropdown-wrapper {
		display: block!important;
	}
}

.cd-dropdown-wrapper {
	display: none;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.header-min {
		padding: 24px 16px;
	}

	.move-out {
		z-index: 10;
		background: $white-color;

		&.cd-dropdown-content ul {
			padding-top: 0;
		}
	}
	.header-min-social {
		text-align: center;
		margin-top: 24px;
		padding: 32px 0 14px 0;
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;

		.phone {
			position: relative;
			width: fit-content;
			margin: auto;
			padding: 0 0 0 32px;
			border-bottom: none;
			margin-bottom: 8px;

			.icon {
				position: absolute;
				top: 0px;
				left: 0;
				display: block;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 8px;
				background-image: url("../images/icons/phone.svg");
			}
		}

		.social-link {
			margin: auto;
			a {
				border-bottom: none;
			}
		}
	}

	.header-min-info {
		text-align: center;
		text-align: center;
		padding: 32px 0 48px 0;
		border-bottom: none!important;

		p {
			color: #767676;
			line-height: 20px;
			font-size: 14px;
			margin-bottom: 8px;
		}

		a {
			border-bottom: none;
			color: $orange-color;
			display: contents;
		}
	}
}

.cd-dropdown-content {
	z-index: -1;

	.not-child {
		border-bottom: none!important;
		a {
			padding: 6px 16px;
			border-bottom: none;

			&:after, &:before {
				display: none;
			}
		}
	}
}

.cd-secondary-dropdown.fade-out {
	overflow-y: hidden;
	background: $white-color;
	position: fixed;
}

.cd-secondary-dropdown.fade-in {
	position: fixed;
	background: $white-color;
}


.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a {
	line-height: 20px;
	padding: 18px 0;
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
	padding: 0 20px;
	color: $black-color;
}

.cd-dropdown {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $white-color;
	color: $black-color;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
	-moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
	transition: transform 0.5s 0s, visibility 0s 0.5s;
}

.cd-dropdown .cd-close {
	z-index: 1;
	height: 24px;
	width: 24px;
	margin-right: 16px;
	background-image: url("../images/icons/close.png");
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: $black-color;
}

.cd-dropdown.dropdown-is-active {
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
	-moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
	transition: transform 0.5s 0s, visibility 0s 0s;
}

.cd-dropdown-content, .cd-dropdown-content ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	padding-top: 72px;
	list-style: none;
	padding-left: 0;
}
.cd-dropdown-content a, .cd-dropdown-content ul a {
	display: inline-block;
	color: $black-color;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
	font-size: 14px;
	padding: 18px 16px;
	width: fit-content;

	&:hover {
		color: $orange-color;
		text-decoration: none;
	}

}

.cd-dropdown-content li {
	display: block;
	border-bottom: 1px solid #E0E0E0;
}

.cd-dropdown-content li:first-of-type > a, .cd-dropdown-content ul li:first-of-type > a {
	border-top-width: 0;
}
.cd-dropdown-content li:last-of-type > a, .cd-dropdown-content ul li:last-of-type > a {
	border-bottom-width: 1px;
}

.cd-dropdown-content a, .cd-dropdown-content .cd-search, .cd-dropdown-content .cd-divider, .cd-dropdown-content ul a, .cd-dropdown-content ul .cd-search, .cd-dropdown-content ul .cd-divider {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.cd-dropdown-content.is-hidden, .cd-dropdown-content ul.is-hidden {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.cd-dropdown-content.is-hidden > li > a, .cd-dropdown-content.is-hidden > li > .cd-search, .cd-dropdown-content.is-hidden > .cd-divider, .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.is-hidden > li > a, .cd-dropdown-content ul.is-hidden > li > .cd-search, .cd-dropdown-content ul.is-hidden > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
	opacity: 0;
}
.cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.dropdown-is-active .cd-dropdown-content, .dropdown-is-active .cd-dropdown-content ul {
	-webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
	.cd-dropdown-content, .cd-dropdown-content ul {
		padding-top: 72px;
	}
	.cd-dropdown-content a, .cd-dropdown-content ul a {
		line-height: 20px;
		font-size: 14px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-dropdown-content, .cd-dropdown-content ul {
		padding-top: 0;
		overflow: visible;
	}
	.cd-dropdown-content a, .cd-dropdown-content ul a {
		line-height: 20px;
		font-size: 14px;
	}
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
	padding-left: 75px;
	position: relative;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
	color: #111433;
	font-size: 1.3rem;
	/* hide description on small devices */
	display: none;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
	/* item icon */
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
}

@media only screen and (min-width: 1024px) {
	.cd-dropdown-content {
		position: static;
		height: auto;
		width: 280px;
	}
	.cd-dropdown-content > li:last-of-type a {
		border-bottom: none;
	}
	.no-touch .cd-dropdown-content > li:not(.has-children) a:hover {
		color: #3f8654;
	}
	.cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider {
		/* reset mobile style */
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	.cd-dropdown-content .cd-secondary-dropdown, .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		left: 100%;
		height: auto;
		background-color: #ffffff;
		box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
	}
	.cd-dropdown-content .cd-secondary-dropdown::after, .cd-dropdown-content .cd-dropdown-gallery::after, .cd-dropdown-content .cd-dropdown-icons::after {
		clear: both;
		content: "";
		display: table;
	}
	.open-to-left .cd-dropdown-content .cd-secondary-dropdown, .open-to-left .cd-dropdown-content .cd-dropdown-gallery, .open-to-left .cd-dropdown-content .cd-dropdown-icons {
		/* use the .open-to-left class if you want to open the dropdown on the left */
		left: auto;
		right: 100%;
	}
	.cd-dropdown-content .cd-secondary-dropdown.is-hidden, .cd-dropdown-content .cd-dropdown-gallery.is-hidden, .cd-dropdown-content .cd-dropdown-icons.is-hidden {
		/* reset mobile style */
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.cd-dropdown-content .cd-secondary-dropdown.fade-in, .cd-dropdown-content .cd-dropdown-gallery.fade-in, .cd-dropdown-content .cd-dropdown-icons.fade-in {
		/* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
		-webkit-animation: cd-fade-in 0.2s;
		-moz-animation: cd-fade-in 0.2s;
		animation: cd-fade-in 0.2s;
	}
	.cd-dropdown-content .cd-secondary-dropdown.fade-out, .cd-dropdown-content .cd-dropdown-gallery.fade-out, .cd-dropdown-content .cd-dropdown-icons.fade-out {
		/* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
		-webkit-animation: cd-fade-out 0.2s;
		-moz-animation: cd-fade-out 0.2s;
		animation: cd-fade-out 0.2s;
	}
	.cd-dropdown-content .cd-secondary-dropdown > .go-back, .cd-dropdown-content .cd-dropdown-gallery > .go-back, .cd-dropdown-content .cd-dropdown-icons > .go-back {
		display: none;
	}
	.cd-dropdown-content .cd-secondary-dropdown > .see-all, .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
		position: absolute;
		bottom: 20px;
		height: 45px;
		text-align: center;
	}
	.cd-dropdown-content .cd-secondary-dropdown > .see-all a, .cd-dropdown-content .cd-dropdown-gallery > .see-all a, .cd-dropdown-content .cd-dropdown-icons > .see-all a {
		margin: 0;
		height: 100%;
		line-height: 45px;
		background: #ebebeb;
		pointer-events: auto;
		-webkit-transition: color 0.2s, background-color 0.2s;
		-moz-transition: color 0.2s, background-color 0.2s;
		transition: color 0.2s, background-color 0.2s;
	}
	.no-touch .cd-dropdown-content .cd-secondary-dropdown > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-gallery > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-icons > .see-all a:hover {
		color: #ffffff;
		background-color: #111433;
	}
	.cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item, .cd-dropdown-content .cd-secondary-dropdown a, .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-gallery a, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-icons a {
		border: none;
	}
	.cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
		padding: 20px 30px 100px;
	}
	.cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
		width: calc(100% - 60px);
	}
	.cd-dropdown-content .cd-dropdown-icons > li, .cd-dropdown-content .cd-secondary-dropdown > li {
		width: 50%;
		float: left;
	}
	.cd-dropdown-content .cd-secondary-dropdown {
		overflow: hidden;
		width: 550px;
		padding-bottom: 65px;
	}
	.cd-dropdown-content .cd-secondary-dropdown::before {
		position: absolute;
		content: '';
		top: 290px;
		left: 15px;
		height: 1px;
		width: 520px;
		background-color: #ebebeb;
	}
	.cd-dropdown-content .cd-secondary-dropdown > li > a {
		color: #3f8654;
		font-size: 1.6rem;
		margin-bottom: 10px;
		line-height: 30px;
		height: 30px;
		pointer-events: none;
	}
	.cd-dropdown-content .cd-secondary-dropdown > li > a::after, .cd-dropdown-content .cd-secondary-dropdown > li > a::before {
		/* hide the arrow */
		display: none;
	}
	.cd-dropdown-content .cd-secondary-dropdown.move-out > li > a {
		/* reset mobile style */
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.cd-dropdown-content .cd-secondary-dropdown > li {
		margin: 20px 0;
		border-right-width: 1px;
		border-color: #ebebeb;
		border-style: solid;
		padding: 0 30px;
		height: 250px;
	}
	.cd-dropdown-content .cd-secondary-dropdown > li:nth-of-type(2n) {
		border-right-width: 0;
	}
	.cd-dropdown-content .cd-secondary-dropdown > li > ul {
		/* reset mobile style */
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
		position: relative;
		height: auto;
	}
	.cd-dropdown-content .cd-secondary-dropdown > li > ul > .go-back {
		display: none;
	}

	.cd-dropdown-content .cd-secondary-dropdown a {
		line-height: 25px;
		height: 25px;
		font-size: 1.3rem;
		padding-left: 0;
	}
	.no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover {
		color: #3f8654;
	}
	.cd-dropdown-content .cd-secondary-dropdown ul {
		padding-bottom: 25px;
		overflow: hidden;
		height: auto;
	}
	.cd-dropdown-content .cd-secondary-dropdown .go-back a {
		padding-left: 20px;
		color: transparent;
	}
	.no-touch .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover {
		color: transparent;
	}
	.cd-dropdown-content .cd-secondary-dropdown .go-back a::before, .cd-dropdown-content .cd-secondary-dropdown .go-back a::after {
		left: 0;
	}
	.cd-dropdown-content .cd-secondary-dropdown .see-all {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.cd-dropdown-content .cd-dropdown-gallery {
		width: 600px;
		padding-bottom: 100px;
	}
	.cd-dropdown-content .cd-dropdown-gallery > li {
		width: 48%;
		float: left;
		margin-right: 4%;
	}
	.cd-dropdown-content .cd-dropdown-gallery > li:nth-of-type(2n) {
		margin-right: 0;
	}
	.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
		padding: 0;
		height: auto;
		line-height: normal;
		color: #3f8654;
		margin-bottom: 2em;
	}
	.cd-dropdown-content .cd-dropdown-gallery > li:nth-last-of-type(2) a,
	.cd-dropdown-content .cd-dropdown-gallery > li:last-of-type a {
		margin-bottom: 0;
	}
	.cd-dropdown-content .cd-dropdown-gallery img {
		position: static;
		height: auto;
		width: 100%;
		margin: 0 0 0.6em;
	}
	.cd-dropdown-content .cd-dropdown-icons {
		width: 600px;
	}
	.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
		height: 80px;
		line-height: 1.2;
		padding: 24px 0 0 85px;
	}
	.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
		background: #ebebeb;
	}
	.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
		color: #3f8654;
		font-weight: bold;
	}
	.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
		display: block;
		font-size: 1.2rem;
	}
	.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
		left: 25px;
	}
	.cd-dropdown-content > .has-children > ul {
		visibility: hidden;
	}
	.cd-dropdown-content > .has-children > ul.is-active {
		/* when hover over .cd-dropdown-content items - show subnavigation */
		visibility: visible;
	}
	.cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
		/* if .cd-secondary-dropdown is visible - show also subnavigation */
		visibility: visible;
	}
	.cd-dropdown-content > .has-children > a.is-active {
		/* hover effect for .cd-dropdown-content items with subnavigation */
		box-shadow: inset 2px 0 0 #3f8654;
		color: #3f8654;
	}
	.cd-dropdown-content > .has-children > a.is-active::before, .cd-dropdown-content > .has-children > a.is-active::after {
		background: #3f8654;
	}
	.open-to-left .cd-dropdown-content > .has-children > a.is-active {
		box-shadow: inset -2px 0 0 #3f8654;
	}
}

@-webkit-keyframes cd-fade-in {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@-moz-keyframes cd-fade-in {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes cd-fade-in {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@-webkit-keyframes cd-fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: visible;
	}
}
@-moz-keyframes cd-fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: visible;
	}
}
@keyframes cd-fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: visible;
	}
}

.has-children a {
	display: inline-block;
}

.has-children-arrow {
	height: 24px;
	width: 24px;
	background-image: url('../images/icons/arrow-o-n.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	float: right;
	margin-right: 8px;
	margin-top: 17px;
}

.has-children > a, .go-back a {
	position: relative;
}

.is-hidden {
	display: none;
}

.cd-secondary-dropdown {
	z-index: 20;
}
.third-dropdown {
	z-index: 21;
	background-color: $white-color;
}

.go-back a::before{
	content: '';
	position: absolute;
	top: 17px;
	left: 8px;
	display: inline-block;
	height: 24px;
	width: 24px;
	background-image: url('../images/icons/arrow-o-p.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}



@media only screen and (min-width: 1024px) {
	.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
		background: red;
	}
}

.has-children > a {
	padding-right: 40px;
}

@media only screen and (min-width: 1024px) {
	.open-to-left .cd-dropdown-content > .has-children > a {
		padding-left: 40px;
		padding-right: 20px;
	}
}
.cd-dropdown-content .go-back a {
	padding-left: 40px;
	color: $orange-color;
}

.cd-main-content {
	background-color: #e6e6e6;
	min-height: calc(100vh - 100px);
	padding: 2em 5%;
	line-height: 2;
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
	display: none;
}

.cd-dropdown-content {
	.profile-link {
		a {
			&:before {
				content: "";
				display: inline-block;
				width: 24px;
				height: 24px;
				background-image: url('../images/icons/person.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				vertical-align: bottom;
				margin-right: 8px;
			}
		}
	}
}