.modal {
	&-header {
		border-bottom: none;
		padding: 16px;
		height: 64px;

		.close {
			margin-top: 0;
			margin-right: 0;
			padding: 0;
			height: 24px;
			width: 24px;
			display: block;
			margin-left: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../images/icons/close.svg');
			position: relative;

			span {
				display: none;
			}
		}
	}

	&-content {
		height: 632px;
		padding-left: 48px;
		background: $light-gray-bg;
	}

	&-body {
		h4 {
			margin-bottom: 16px;
		}

		form {
			margin-top: 48px;

			.form-group {
				margin-top: 16px;

				.form-control {
					box-sizing: border-box;
					box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					border-radius: 2px;
					padding: 10px 16px;
					line-height: 20px;
					font-size: 14px;
					color: $black-color;
					transition: 0.25s;
					
					&::placeholder {
						line-height: 20px;
						font-size: 14px;
					}


					&:hover {
						transition: 0.25s;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.35);
					}

					&:active {
						outline: none;
						border: 1px solid $orange-color;
						box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
					}

					&:focus {
						border: 1px solid #262626;
						outline: none;
					}
				}
			}

			.btn-orange {
				margin-top: 8px;
				width: 100%;
			}
		}
	}
}

.modal-center {
	.modal-content {
		padding: 0 32px;
		width: 384px;
		height: 440px;
	}

	.modal-body {
		h5 {
			margin-bottom: 16px;
		}
		form {
			margin-top: 32px;
		}

		.small {
			line-height: 16px;
			font-size: 12px;
			margin-top: 16px;
			color: #767676;

			a {
				color: $orange-color;
			}
		}
	}
}

.modal-login {
	.modal-content {
		padding: 0;
		width: 384px;
		height: auto;
		padding-bottom: 64px;
	}
	.modal-body {
		padding: 0 32px;
		h5 {
			margin-bottom: 16px;
		}
		form {
			margin-top: 32px;
		}

		.small {
			line-height: 16px;
			font-size: 12px;
			margin-top: 16px;
			color: #767676;

			a {
				color: $orange-color;
			}
		}

		.nav {
			&-link {
				border-bottom: 1px solid #C4C4C4;
				width: 50%;
				min-width: 50%;
				margin-right: 0;
				text-align: center;
				font-weight: 600;
				color: $black-color;
				background: $light-gray-bg;

				&.active {
					border-bottom: 2px solid $orange-color;
					color: $orange-color;
				}
			}
		}
	}
}

.modal-product {
	.modal-content {
		background-color: $white-color;
		overflow-y: scroll;
		padding-left: 0px;
		padding-bottom: 60px;

		.modal-body {
			.product-card-info {
				margin-top: 20px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.modal {
		&-content {
			height: auto;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 40px;
		}
	}

	.modal-center {
		.modal-content {
			padding: 0 16px;
			width: auto;
			height: auto;
			padding-bottom: 40px;
		}
	}
}