.swiper-button-next, .swiper-button-prev {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: $orange-color;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-next {
	background-image: url("../images/icons/arrow-right.png");
}

.swiper-button-prev {
	background-image: url("../images/icons/arrow-left.png");
}

.white-swiper-btn {
	.swiper-pagination-bullet {
		background: $white-color; 
	}

	.swiper-pagination-bullet-active {
		background: $orange-color; 
	}
}

.swiper-pagination {
	&-bullet {
		opacity: 1;
		height: 8px;
		width: 8px;
		background: $swiper-gray-color;

		&-active {
			-ms-transform: scale(2, 2);
			-webkit-transform: scale(2, 2); 
			transform: scale(2, 2);
			-webkit-transition: transform 0.15s ease-in-out;
			-moz-transition:transform 0.15s ease-in-out;
			-ms-transition:transform 0.15s ease-in-out;
			transition: transform 0.15s ease-in-out;
			background: $orange-color;
			box-shadow: none;
		}
	}

	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.main-slider {
	.swiper-slide {
		position: relative;

		.slider-message {
			position: absolute;
			left: 56px;
			bottom: 40px;
			background: $white-color;
			width: 463px;
			height: 246px;
			padding: 40px 32px;

			h1 {
				margin-bottom: 16px;
			} 

			p {
				line-height: 20px;
				font-size: 14px;
				margin-bottom: 24px;
			}
		}
	}
}

.slider-bath, .slider-business, .slider-kitchen {
	.swiper-slide {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.collection-page-slider {
	margin: 32px 0 48px 0;
}

.swiper-interesting-product {
	margin-top: 40px;
	padding-bottom: 38px;
	margin-bottom: 48px;
}

.gallery-top {
	margin-bottom: 24px;
}

.gallery-thumbs {
	.swiper-slide-thumb-active {
		border: 2px solid $orange-color;
	}
}

@include media-breakpoint-down(sm) {
	.main-slider {
		.swiper-slide {
			position: relative;
			padding-bottom: 200px;

			.slider-message {
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
				position: absolute;
				left: 0;
				right: 0;
				top: auto;
				bottom: 5px;
				margin: auto;
				background: $white-color;
				max-width: 400px;
				height: fit-content;
				max-height: 240px;
				padding: 32px 16px;
			}
		}

		.main-prev, .main-next {
			top: 135px;
		}

		.main-pagination {
			bottom: 240px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.main-slider {
		.swiper-slide {
			position: relative;
			padding-bottom: 230px;

			.slider-message {
				max-width: 288px;
				max-height: 268px;
			}
		}

		.main-prev, .main-next {
			top: 108px;
		}

		.main-pagination {
			bottom: 282px;
		}
	}
}