@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700');


/*Color*/

$white-color: #ffffff;

$gray-color: #4C4C4C;

$light-gray-color: #B0B0B0;

$black-color: #262626;

$orange-color: #FF9800;

$swiper-gray-color: #E0E0E0;

$light-gray-bg: #FAFAFA;

$gray-tabs-color: #767676;

$placeholder-color: #A0A0A0;

$radio-gray: #9EA0A1;

$red-color: #F44336;

$radio-lightBrown: #D0BB8D;

$radio-black: #0A0A0D;

$radio-brown: #7A5143;

$radio-lightGray: #CFDFE8;

$radio-darkBrown: #7A5143;

$radio-blue: #CFDFE8;

$green-color: #8BC34A;

body {
    font-family: 'Exo 2', sans-serif;
    color: $black-color;
}

h1 {
    font-weight: 600;
    line-height: 46px;
    font-size: 32px;
    margin-bottom: 0;

    span {
        color: $light-gray-color;
    }
}

h3 {
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
}

h4 {
    font-weight: 600;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 0;
}

h5 {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
    li {
        line-height: 20px;
        font-size: 14px;
    }
}

p {
    line-height: 20px;
    font-size: 14px;
    color: $black-color;
    margin-bottom: 24px;
}

.small {
    font-size:12px;
    line-height: 16px;
    margin-bottom: 8px;
}

.light-bg {
    background-color: $light-gray-bg;
}

.text-black {
    color: $black-color;
}

.line-none {
    transition: 0.25s;

    &:hover {
        text-decoration: none;
        transition: 0.25s;

        .collection-name {
            color: $orange-color;
        }
    }
}

body.modal-open {
    overflow: hidden;
    opacity: 0.8;
}

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

@include media-breakpoint-down(md) { 
    body {
        padding-top: 0;
    }
}


@include media-breakpoint-down(sm) {


    h1 {
        line-height: 32px;
        font-size: 24px;
    }
}
@include media-breakpoint-down(xs) {  }